In [3]:
import pandas as pd
import numpy  as np
import datetime

# СОЗДАЕМ 1 БЛОК (ВЫТАСКИВАЕМ ПРОМЕЖУТКИ ВРЕМЕНИ) PROFITS

In [4]:
%%time

#СОЗДАЕМ 1 БЛОК (ВЫТАСКИВАЕМ ПРОМЕЖУТКИ ВРЕМЕНИ)

# создали словарь с df по часам и первому-последнему бару
def profit(df):
    history_all = {}
    for tt in ['10:50:00','11:50:00', '12:50:00','13:50:00','14:50:00','15:50:00','16:50:00']:
        history_all[f'{tt}'] = df[df['Time'] == tt]
    history_all['last_bar']   = df[df['Date'] != df['Date'].shift(-1)]  
    history_all['first_bar']  = df[df['Date'] != df['Date'].shift( 1)]   

    #смержили все в одну таблицу
    merg_all = pd.DataFrame(df['Date'])
    merg_all.drop_duplicates('Date', inplace = True)
    for i in ['first_bar', '10:50:00','11:50:00', '12:50:00','13:50:00','14:50:00','15:50:00','16:50:00', 'last_bar']:
        #display(history_all[i].shape)
        #print('drop')
        history_all[i].drop_duplicates('Date', inplace = True)
        #display(history_all[i].shape)
        #display(history_all[i])
        merg_all = pd.merge(merg_all, history_all[i][['Date','Close']], on='Date', how='right', suffixes=('', i))


    merg_all.dropna(inplace=True)
    merg_all.sort_values(by = ['Date'], inplace = True)

    return(merg_all)
##пояем то первый бар не пропечатывается а это first

Wall time: 0 ns

In [5]:
%%time

#СОЗДАЕМ 1 БЛОК (ВЫТАСКИВАЕМ ПРОМЕЖУТКИ ВРЕМЕНИ)

# создали словарь с df по часам и первому-последнему бару
def profit_2(df):
    history_all = {}
    for tt in [datetime.time(10,50,0),datetime.time(11,50,0),datetime.time(12,50,0),datetime.time(13,50,0),datetime.time(14,50,0),datetime.time(15,50,0),datetime.time(16,50,0)]:
        history_all[f'{tt}'] = df[df['Time'] == tt]
    history_all['last_bar']   = df[df['Date'] != df['Date'].shift(-1)]  
    history_all['first_bar']  = df[df['Date'] != df['Date'].shift( 1)]   

    #смержили все в одну таблицу
    merg_all = pd.DataFrame(df['Date'])
    merg_all.drop_duplicates('Date', inplace = True)
    for i in ['first_bar', '10:50:00','11:50:00', '12:50:00','13:50:00','14:50:00','15:50:00','16:50:00', 'last_bar']:
        #display(history_all[i].shape)
        #print('drop')
        history_all[i].drop_duplicates('Date', inplace = True)
        #display(history_all[i].shape)
        #display(history_all[i])
        merg_all = pd.merge(merg_all, history_all[i][['Date','Close']], on='Date', how='right', suffixes=('', i))


    merg_all.dropna(inplace=True)
    merg_all.sort_values(by = ['Date'], inplace = True)

    return(merg_all)
##пояем то первый бар не пропечатывается а это first

Wall time: 0 ns

In [8]:
#dd = np.array(df4['Time'])
np.unique(dd, return_counts=True)

NameError: name 'dd' is not defined

In [7]:
df4 = pd.read_csv('E:/Host/Data/Database/10min/2006_to_now.csv', parse_dates=['Date'])
df4['Time']  = df4['Date'].dt.time
df4['Date']  = df4['Date'].dt.date
df4.drop(columns='Unnamed: 0', inplace=True)

df4['Date'] = pd.to_datetime(df4['Date'])
df4 = df4[df4['Time'] != datetime.time( 9,50,0)]
df4 = df4[df4['Time'] <= datetime.time(18,40,0)]

In [9]:
%%time
#вариант 2

#вариант 2
#df1 = df4
df_all_1 = pd.DataFrame()
for pp in ['GAZP', 'GMKN', 'LKOH', 'ROSN', 'SBER', 'VTBR']:
    df1 = df4[df4['Symbol']==pp]
    display(df1['Time'])
    df1 = profit_2(df1)
    df1['Symbol'] = pp
    display(df1)
    df_all_1 = df_all_1.append(df1)
display(df_all_1)

0         10:30:00
1         10:40:00
2         10:50:00
3         11:00:00
4         11:10:00
            ...
190249    11:00:00
190250    11:10:00
190251    11:20:00
190252    11:30:00
190253    11:40:00
Name: Time, Length: 187112, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-01-23,221.50,220.50,220.45,220.85,220.85,221.33,220.73,220.44,218.89,GAZP
1,2006-01-24,220.69,220.49,219.80,220.47,220.00,220.13,221.63,222.20,224.00,GAZP
2,2006-01-25,228.50,229.00,227.87,226.70,227.21,228.15,229.50,228.79,228.38,GAZP
3,2006-01-26,227.40,228.50,227.55,228.10,227.00,227.80,227.60,226.70,224.47,GAZP
4,2006-01-27,225.89,225.30,225.60,224.50,229.50,229.10,229.30,227.00,228.75,GAZP
...,...,...,...,...,...,...,...,...,...,...,...
3624,2020-09-11,173.68,174.05,174.91,175.73,177.09,177.24,176.60,177.30,177.94,GAZP
3625,2020-09-14,179.25,180.04,179.08,179.18,179.72,178.86,178.08,178.66,177.60,GAZP
3626,2020-09-15,178.22,178.63,180.07,180.31,181.09,181.49,181.67,182.25,182.85,GAZP
3627,2020-09-16,183.46,182.74,182.13,181.54,181.81,181.75,182.09,182.14,183.80,GAZP
3628,2020-09-17,181.97,182.00,181.06,180.69,181.08,181.63,182.80,183.50,184.50,GAZP

190254    10:30:00
190255    10:40:00
190256    10:50:00
190257    11:00:00
190258    11:10:00
            ...
380899    11:00:00
380900    11:10:00
380901    11:20:00
380902    11:30:00
380903    11:40:00
Name: Time, Length: 187513, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-01-10,2340.00,2299.0,2335.00,2332.99,2346.62,2368.00,2365.49,2362.00,2357.0,GMKN
1,2006-01-11,2338.16,2337.9,2338.00,2353.00,2329.89,2281.50,2272.94,2272.00,2262.1,GMKN
2,2006-01-12,2250.00,2240.0,2252.30,2256.00,2256.00,2255.01,2255.00,2247.48,2232.1,GMKN
3,2006-01-13,2223.20,2193.0,2192.00,2163.00,2132.00,2167.00,2176.00,2169.50,2150.0,GMKN
4,2006-01-16,2190.03,2242.0,2239.95,2228.89,2211.00,2218.00,2212.00,2222.94,2235.0,GMKN
...,...,...,...,...,...,...,...,...,...,...,...
3633,2020-09-11,19392.00,19358.0,19380.00,19426.00,19380.00,19402.00,19304.00,19288.00,19378.0,GMKN
3634,2020-09-14,19562.00,19482.0,19482.00,19478.00,19502.00,19492.00,19540.00,19550.00,19478.0,GMKN
3635,2020-09-15,19520.00,19638.0,19670.00,19704.00,19728.00,19630.00,19600.00,19742.00,19582.0,GMKN
3636,2020-09-16,19146.00,19338.0,19410.00,19384.00,19378.00,19348.00,19188.00,19308.00,19272.0,GMKN
3637,2020-09-17,19134.00,19134.0,19178.00,19278.00,19194.00,19246.00,19288.00,19434.00,19498.0,GMKN

380904    10:30:00
380905    10:40:00
380906    10:50:00
380907    11:00:00
380908    11:10:00
            ...
571546    11:00:00
571547    11:10:00
571548    11:20:00
571549    11:30:00
571550    11:40:00
Name: Time, Length: 187507, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-01-10,1790.0,1786.12,1792.8,1799.50,1803.00,1810.02,1813.00,1811.89,1811.99,LKOH
1,2006-01-11,1795.0,1803.00,1804.5,1819.55,1824.00,1823.03,1825.50,1818.02,1820.97,LKOH
2,2006-01-12,1842.0,1844.00,1847.0,1859.00,1879.05,1878.98,1918.74,1914.17,1901.89,LKOH
3,2006-01-13,1909.0,1897.00,1888.0,1916.10,1899.00,1897.90,1900.00,1898.80,1919.82,LKOH
4,2006-01-16,1944.0,1955.00,1979.5,1972.69,1978.90,1993.50,1986.00,1992.70,2039.99,LKOH
...,...,...,...,...,...,...,...,...,...,...,...
3633,2020-09-11,4653.0,4655.50,4677.0,4667.50,4690.50,4712.50,4708.00,4716.50,4734.50,LKOH
3634,2020-09-14,4756.0,4795.00,4782.5,4776.50,4779.00,4764.00,4749.50,4762.00,4736.00,LKOH
3635,2020-09-15,4742.5,4770.00,4787.5,4812.50,4833.00,4839.00,4848.00,4857.50,4876.00,LKOH
3636,2020-09-16,4920.5,4907.00,4888.5,4853.50,4846.00,4859.00,4845.50,4827.00,4847.50,LKOH
3637,2020-09-17,4802.5,4813.50,4767.0,4760.50,4754.00,4756.00,4763.50,4768.00,4790.00,LKOH

571551    15:50:00
571552    16:00:00
571553    16:10:00
571554    16:20:00
571555    16:30:00
            ...
755522    11:00:00
755523    11:10:00
755524    11:20:00
755525    11:30:00
755526    11:40:00
Name: Time, Length: 180838, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-07-20,204.84,204.50,204.65,204.20,204.20,204.70,204.30,204.15,203.26,ROSN
1,2006-07-21,202.90,202.90,202.00,201.39,201.00,201.72,200.99,200.60,202.00,ROSN
2,2006-07-24,202.00,199.26,201.57,201.65,201.50,201.99,201.60,201.95,201.99,ROSN
3,2006-07-25,202.00,202.70,202.25,202.48,202.32,202.55,203.12,202.20,202.69,ROSN
4,2006-07-26,203.00,202.99,202.85,203.10,202.90,203.00,202.90,202.95,203.10,ROSN
...,...,...,...,...,...,...,...,...,...,...,...
3483,2020-09-11,365.90,368.00,370.35,369.55,369.90,370.35,369.10,370.00,371.45,ROSN
3484,2020-09-14,372.95,376.00,375.55,375.75,375.45,374.20,373.30,373.85,372.60,ROSN
3485,2020-09-15,375.05,375.15,376.80,377.80,378.10,378.00,381.45,383.75,384.60,ROSN
3486,2020-09-16,389.15,387.95,388.00,387.35,387.30,386.50,385.85,382.90,384.30,ROSN
3487,2020-09-17,383.65,382.65,381.85,380.25,379.55,379.30,380.50,379.80,379.10,ROSN

755527    10:30:00
755528    10:40:00
755529    10:50:00
755530    11:00:00
755531    11:10:00
            ...
945497    11:00:00
945498    11:10:00
945499    11:20:00
945500    11:30:00
945501    11:40:00
Name: Time, Length: 186833, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-01-10,38400.00,39400.00,40650.00,40930.00,40808.01,40851.00,40770.00,40651.00,40080.00,SBER
1,2006-01-11,39978.99,40200.00,40411.01,40918.80,40899.90,41350.00,42200.00,41900.00,42100.00,SBER
2,2006-01-12,43400.01,44250.00,44325.02,44740.00,45550.00,45208.00,45200.00,45316.05,47503.00,SBER
3,2006-01-13,48561.00,48400.00,46693.66,46100.00,45198.00,45450.00,45377.96,45350.00,45510.00,SBER
4,2006-01-16,45000.02,46000.00,46399.00,45910.03,45573.00,45301.02,45052.00,45250.00,45830.00,SBER
...,...,...,...,...,...,...,...,...,...,...,...
3617,2020-09-11,220.08,219.92,221.25,221.95,222.56,222.63,221.65,222.13,220.53,SBER
3618,2020-09-14,222.92,224.60,223.74,223.90,224.37,224.24,223.82,225.25,227.07,SBER
3619,2020-09-15,227.63,228.38,229.67,230.44,230.38,231.02,231.62,230.94,231.30,SBER
3620,2020-09-16,232.08,231.61,230.68,230.52,230.90,231.19,230.81,230.85,231.35,SBER
3621,2020-09-17,229.25,229.27,229.07,229.18,229.59,229.91,230.40,230.81,231.75,SBER

945502     10:30:00
945503     10:40:00
945504     10:50:00
945505     11:00:00
945506     11:10:00
             ...
1119309    11:00:00
1119310    11:10:00
1119311    11:20:00
1119312    11:30:00
1119313    11:40:00
Name: Time, Length: 170678, dtype: object

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2007-05-28,0.149900,0.148400,0.143000,0.143900,0.143000,0.140300,0.141300,0.141800,0.141600,VTBR
1,2007-05-29,0.142400,0.144000,0.143100,0.142000,0.141300,0.140900,0.139300,0.139500,0.139500,VTBR
2,2007-05-30,0.137400,0.138000,0.138600,0.138400,0.137900,0.137900,0.138200,0.137800,0.138500,VTBR
3,2007-05-31,0.140000,0.140700,0.141400,0.142000,0.142000,0.142000,0.141900,0.143300,0.144800,VTBR
4,2007-06-01,0.145200,0.144800,0.144700,0.145100,0.146300,0.145700,0.144900,0.145500,0.145200,VTBR
...,...,...,...,...,...,...,...,...,...,...,...
3292,2020-09-11,0.035145,0.035210,0.035265,0.035270,0.035325,0.035325,0.035230,0.035335,0.035380,VTBR
3293,2020-09-14,0.035745,0.035740,0.035735,0.035690,0.035675,0.035580,0.035500,0.035585,0.035680,VTBR
3294,2020-09-15,0.035760,0.035710,0.035825,0.035965,0.036070,0.036120,0.036080,0.036135,0.036075,VTBR
3295,2020-09-16,0.036270,0.036125,0.036070,0.035950,0.035910,0.035825,0.035755,0.035800,0.035805,VTBR
3296,2020-09-17,0.035530,0.035515,0.035460,0.035390,0.035510,0.035495,0.035630,0.035520,0.035650,VTBR

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,Symbol
0,2006-01-23,221.500000,220.500000,220.450000,220.850000,220.850000,221.330000,220.730000,220.440000,218.890000,GAZP
1,2006-01-24,220.690000,220.490000,219.800000,220.470000,220.000000,220.130000,221.630000,222.200000,224.000000,GAZP
2,2006-01-25,228.500000,229.000000,227.870000,226.700000,227.210000,228.150000,229.500000,228.790000,228.380000,GAZP
3,2006-01-26,227.400000,228.500000,227.550000,228.100000,227.000000,227.800000,227.600000,226.700000,224.470000,GAZP
4,2006-01-27,225.890000,225.300000,225.600000,224.500000,229.500000,229.100000,229.300000,227.000000,228.750000,GAZP
...,...,...,...,...,...,...,...,...,...,...,...
3292,2020-09-11,0.035145,0.035210,0.035265,0.035270,0.035325,0.035325,0.035230,0.035335,0.035380,VTBR
3293,2020-09-14,0.035745,0.035740,0.035735,0.035690,0.035675,0.035580,0.035500,0.035585,0.035680,VTBR
3294,2020-09-15,0.035760,0.035710,0.035825,0.035965,0.036070,0.036120,0.036080,0.036135,0.036075,VTBR
3295,2020-09-16,0.036270,0.036125,0.036070,0.035950,0.035910,0.035825,0.035755,0.035800,0.035805,VTBR
3296,2020-09-17,0.035530,0.035515,0.035460,0.035390,0.035510,0.035495,0.035630,0.035520,0.035650,VTBR

Wall time: 1.72 s

In [3]:
%%time
#вариант 1
#df4 = pd.read_excel('E:/Host/Data/Bees/Finance_ML/gazp15.xlsx', decimal='.', sep = ',', encoding='latin-1', parse_dates=['Date', 'Time'])

df_all_1 = pd.DataFrame()
for pp in ['GAZP', 'GMKN', 'LKOH', 'ROSN', 'SBER', 'VTBR']:
    df1 = pd.read_excel("E:/Host/Data/Database/from_Wealth/{}.xlsx".format(pp), decimal='.', sep = ',', encoding='latin-1', parse_dates=['Date', 'Time'])
    display(df1)
    df1 = profit(df1)  #воткнил блок 1
    df1['Symbol'] = pp
    display(df1)
    df_all_1 = df_all_1.append(df1)
display(df_all_1)

,Date,Time,Open,High,Low,Close,Volume
0,2006-01-23,2020-09-14 10:30:00,239.000000,239.000000,220.009995,220.500000,681738
1,2006-01-23,2020-09-14 10:45:00,220.330002,221.440002,219.330002,220.500000,698500
2,2006-01-23,2020-09-14 11:00:00,220.500000,220.940002,219.710007,220.940002,141357
3,2006-01-23,2020-09-14 11:15:00,220.899994,220.899994,219.800003,220.460007,154324
4,2006-01-23,2020-09-14 11:30:00,220.460007,220.970001,220.009995,220.500000,64555
...,...,...,...,...,...,...,...
103191,2018-04-09,2020-09-14 17:45:00,135.029999,135.399994,134.699997,135.100006,1097130
103192,2018-04-09,2020-09-14 18:00:00,135.080002,135.660004,134.899994,135.009995,736800
103193,2018-04-09,2020-09-14 18:15:00,135.000000,135.130005,134.850006,134.929993,731980
103194,2018-04-09,2020-09-14 18:30:00,134.919998,134.979996,134.699997,134.850006,496610
103195,2018-04-09,2020-09-14 18:45:00,135.009995,135.009995,135.009995,135.009995,1493750

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-23,220.500000,220.500000,220.449997,220.850006,220.850006,221.330002,220.729996,220.440002,218.889999,GAZP
1,2006-01-24,220.380005,220.490005,219.800003,220.470001,220.000000,220.130005,221.630005,222.199997,224.000000,GAZP
2,2006-01-25,229.300003,229.000000,227.869995,226.699997,227.210007,228.149994,229.500000,228.789993,228.380005,GAZP
3,2006-01-26,228.300003,228.500000,227.550003,228.100006,227.000000,227.800003,227.600006,226.699997,224.470001,GAZP
4,2006-01-27,226.009995,225.300003,225.600006,224.500000,229.500000,229.100006,229.300003,227.000000,228.750000,GAZP
...,...,...,...,...,...,...,...,...,...,...,...
3000,2018-04-03,140.860001,140.080002,140.559998,140.360001,140.000000,140.449997,141.300003,140.270004,141.130005,GAZP
3001,2018-04-04,140.669998,140.419998,140.169998,139.770004,139.259995,139.610001,139.220001,139.500000,140.179993,GAZP
3002,2018-04-05,141.199997,140.949997,140.639999,140.600006,141.080002,141.089996,140.960007,140.970001,140.500000,GAZP
3003,2018-04-06,140.139999,140.679993,141.070007,141.720001,141.759995,141.500000,141.449997,141.339996,141.500000,GAZP
3004,2018-04-09,139.440002,136.399994,135.990005,130.600006,133.490005,133.399994,133.339996,134.690002,135.009995,GAZP

,Date,Time,Open,High,Low,Close,Volume
0,2006-01-10,2020-09-14 10:30:00,2488.48999,2523.929932,2313.000000,2316.000000,71094
1,2006-01-10,2020-09-14 10:45:00,2316.00000,2320.000000,2290.000000,2299.000000,36641
2,2006-01-10,2020-09-14 11:00:00,2300.00000,2300.000000,2286.000000,2291.989990,27236
3,2006-01-10,2020-09-14 11:15:00,2291.98999,2298.949951,2283.030029,2295.000000,31178
4,2006-01-10,2020-09-14 11:30:00,2295.00000,2297.989990,2294.000000,2297.810059,7125
...,...,...,...,...,...,...,...
103426,2018-04-09,2020-09-14 17:45:00,9013.00000,9048.000000,9012.000000,9042.000000,8873
103427,2018-04-09,2020-09-14 18:00:00,9044.00000,9156.000000,9030.000000,9142.000000,12423
103428,2018-04-09,2020-09-14 18:15:00,9139.00000,9200.000000,9139.000000,9182.000000,8448
103429,2018-04-09,2020-09-14 18:30:00,9183.00000,9249.000000,9180.000000,9200.000000,19172
103430,2018-04-09,2020-09-14 18:45:00,9170.00000,9170.000000,9170.000000,9170.000000,45880

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-10,2316.000000,2299.000000,2335.000000,2332.989990,2346.620117,2368.00000,2365.489990,2362.000000,2357.000000,GMKN
1,2006-01-11,2335.000000,2337.899902,2338.000000,2353.000000,2329.889893,2281.50000,2272.939941,2272.000000,2262.100098,GMKN
2,2006-01-12,2240.000000,2240.000000,2252.300049,2256.000000,2256.000000,2255.01001,2255.000000,2247.479980,2232.100098,GMKN
3,2006-01-13,2225.000000,2193.000000,2192.000000,2163.000000,2132.000000,2167.00000,2176.000000,2169.500000,2150.000000,GMKN
4,2006-01-16,2201.600098,2242.000000,2239.949951,2228.889893,2211.000000,2218.00000,2212.000000,2222.939941,2235.000000,GMKN
...,...,...,...,...,...,...,...,...,...,...,...
3011,2018-04-03,10793.000000,10812.000000,10757.000000,10780.000000,10794.000000,10804.00000,10819.000000,10840.000000,10830.000000,GMKN
3012,2018-04-04,10835.000000,10782.000000,10778.000000,10736.000000,10741.000000,10746.00000,10702.000000,10703.000000,10735.000000,GMKN
3013,2018-04-05,10775.000000,10727.000000,10701.000000,10733.000000,10730.000000,10738.00000,10703.000000,10702.000000,10744.000000,GMKN
3014,2018-04-06,10679.000000,10649.000000,10671.000000,10714.000000,10714.000000,10699.00000,10715.000000,10710.000000,10733.000000,GMKN
3015,2018-04-09,10164.000000,9939.000000,9782.000000,9137.000000,9295.000000,9072.00000,8883.000000,8857.000000,9170.000000,GMKN

,Date,Time,Open,High,Low,Close,Volume
0,2006-01-10,2020-09-14 10:30:00,1801.0,1815.00000,1777.000000,1790.000000,206445
1,2006-01-10,2020-09-14 10:45:00,1790.0,1791.00000,1782.069946,1786.119995,123624
2,2006-01-10,2020-09-14 11:00:00,1787.0,1791.98999,1785.000000,1787.000000,139999
3,2006-01-10,2020-09-14 11:15:00,1787.0,1789.98999,1785.300049,1789.000000,50773
4,2006-01-10,2020-09-14 11:30:00,1788.0,1789.25000,1786.020020,1788.000000,37596
...,...,...,...,...,...,...,...
103455,2018-04-09,2020-09-14 17:45:00,3654.5,3664.00000,3642.000000,3645.000000,73176
103456,2018-04-09,2020-09-14 18:00:00,3644.0,3656.00000,3634.000000,3640.500000,20774
103457,2018-04-09,2020-09-14 18:15:00,3640.0,3650.50000,3638.000000,3645.000000,35774
103458,2018-04-09,2020-09-14 18:30:00,3645.0,3645.50000,3645.000000,3645.500000,19206
103459,2018-04-09,2020-09-14 18:45:00,3620.0,3620.00000,3620.000000,3620.000000,60503

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-10,1790.000000,1786.119995,1792.800049,1799.500000,1803.000000,1810.020020,1813.00000,1811.890015,1811.989990,LKOH
1,2006-01-11,1795.060059,1803.000000,1804.500000,1819.550049,1824.000000,1823.030029,1825.50000,1818.020020,1820.969971,LKOH
2,2006-01-12,1847.000000,1844.000000,1847.000000,1859.000000,1879.050049,1878.979980,1918.73999,1914.170044,1901.890015,LKOH
3,2006-01-13,1902.000000,1897.000000,1888.000000,1916.099976,1899.000000,1897.900024,1900.00000,1898.800049,1919.819946,LKOH
4,2006-01-16,1942.989990,1955.000000,1979.500000,1972.689941,1978.900024,1993.500000,1986.00000,1992.699951,2039.989990,LKOH
...,...,...,...,...,...,...,...,...,...,...,...
3013,2018-04-03,3970.000000,3942.000000,3937.000000,3924.500000,3926.000000,3931.500000,3941.00000,3948.000000,3951.000000,LKOH
3014,2018-04-04,3943.500000,3956.500000,3958.500000,3939.500000,3912.000000,3920.000000,3900.00000,3910.000000,3939.000000,LKOH
3015,2018-04-05,3956.500000,3962.000000,3952.000000,3965.000000,3973.000000,3973.000000,3981.00000,3985.000000,3990.000000,LKOH
3016,2018-04-06,3952.500000,3937.500000,3946.000000,3955.500000,3959.000000,3954.000000,3948.00000,3940.500000,3939.000000,LKOH
3017,2018-04-09,3884.000000,3804.000000,3815.000000,3744.500000,3774.500000,3776.500000,3661.50000,3603.000000,3620.000000,LKOH

,Date,Time,Open,High,Low,Close,Volume
0,2006-07-19,2020-09-14 15:45:00,220.320007,220.320007,203.029999,204.000000,35627
1,2006-07-19,2020-09-14 16:00:00,204.000000,204.979996,203.199997,203.949997,50210
2,2006-07-19,2020-09-14 16:15:00,203.949997,204.000000,203.229996,203.500000,47172
3,2006-07-19,2020-09-14 16:30:00,203.600006,204.000000,203.600006,204.000000,17669
4,2006-07-19,2020-09-14 16:45:00,203.770004,204.000000,203.500000,204.000000,33122
...,...,...,...,...,...,...,...
99074,2018-04-09,2020-09-14 17:45:00,297.049988,299.350006,293.299988,296.000000,786250
99075,2018-04-09,2020-09-14 18:00:00,295.850006,298.700012,294.750000,296.149994,676800
99076,2018-04-09,2020-09-14 18:15:00,296.049988,298.200012,295.100006,298.000000,618360
99077,2018-04-09,2020-09-14 18:30:00,298.000000,298.549988,296.049988,298.500000,469050
99078,2018-04-09,2020-09-14 18:45:00,299.500000,299.500000,299.500000,299.500000,288200

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-07-20,205.000000,204.500000,204.649994,204.199997,204.199997,204.699997,204.300003,204.149994,203.259995,ROSN
1,2006-07-21,203.000000,202.899994,202.000000,201.389999,201.000000,201.720001,200.990005,200.600006,202.000000,ROSN
2,2006-07-24,200.500000,199.259995,201.570007,201.649994,201.500000,201.990005,201.600006,201.949997,201.990005,ROSN
3,2006-07-25,202.000000,202.699997,202.250000,202.479996,202.320007,202.550003,203.119995,202.199997,202.690002,ROSN
4,2006-07-26,203.149994,202.990005,202.850006,203.100006,202.899994,203.000000,202.899994,202.949997,203.100006,ROSN
...,...,...,...,...,...,...,...,...,...,...,...
2869,2018-04-03,311.200012,309.850006,313.250000,311.899994,311.750000,311.600006,312.950012,312.850006,313.250000,ROSN
2870,2018-04-04,313.799988,315.950012,316.299988,316.149994,316.100006,316.100006,316.149994,318.100006,319.600006,ROSN
2871,2018-04-05,322.149994,321.649994,322.200012,322.850006,324.950012,324.250000,324.399994,324.549988,322.649994,ROSN
2872,2018-04-06,321.100006,320.549988,319.799988,320.100006,319.899994,319.950012,319.899994,321.100006,319.600006,ROSN
2873,2018-04-09,314.850006,307.500000,304.299988,285.950012,296.899994,299.950012,299.299988,296.149994,299.500000,ROSN

,Date,Time,Open,High,Low,Close,Volume
0,2006-01-10,2020-09-14 10:30:00,38.550000,39.000000,38.300000,38.900000,1721000
1,2006-01-10,2020-09-14 10:45:00,38.900000,39.489000,38.800000,39.400000,2418000
2,2006-01-10,2020-09-14 11:00:00,39.420000,39.689988,39.350000,39.598969,1533000
3,2006-01-10,2020-09-14 11:15:00,39.550020,39.675000,39.455000,39.675000,1059000
4,2006-01-10,2020-09-14 11:30:00,39.649000,40.250000,39.620000,40.200000,2578000
...,...,...,...,...,...,...,...
102986,2018-04-09,2020-09-14 17:45:00,213.119995,214.190002,212.750000,212.889999,2057410
102987,2018-04-09,2020-09-14 18:00:00,212.889999,215.199997,212.889999,215.059998,1850050
102988,2018-04-09,2020-09-14 18:15:00,215.050003,216.100006,214.800003,215.860001,2218060
102989,2018-04-09,2020-09-14 18:30:00,215.710007,216.809998,215.500000,215.500000,3206170
102990,2018-04-09,2020-09-14 18:45:00,213.000000,213.000000,213.000000,213.000000,2349490

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-10,38.900000,39.400000,40.650000,40.930000,40.808012,40.851000,40.770000,40.651000,40.080000,SBER
1,2006-01-11,39.969000,40.200000,40.411012,40.918801,40.899898,41.350000,42.200000,41.900000,42.100000,SBER
2,2006-01-12,43.839980,44.250000,44.325020,44.740000,45.550000,45.208000,45.200000,45.316051,47.503000,SBER
3,2006-01-13,48.300000,48.400000,46.693660,46.100000,45.198000,45.450000,45.377961,45.350000,45.510000,SBER
4,2006-01-16,45.150000,46.000000,46.399000,45.910031,45.573000,45.301020,45.052000,45.250000,45.830000,SBER
...,...,...,...,...,...,...,...,...,...,...,...
2997,2018-04-03,249.960007,246.949997,247.750000,246.580002,248.100006,249.199997,251.699997,250.199997,251.600006,SBER
2998,2018-04-04,252.809998,252.210007,251.919998,251.000000,249.220001,251.070007,251.740005,252.169998,255.690002,SBER
2999,2018-04-05,257.510010,257.570007,256.769989,259.230011,260.160004,261.359985,261.670013,261.809998,262.000000,SBER
3000,2018-04-06,260.709992,260.070007,261.700012,260.820007,260.029999,260.130005,260.890015,260.450012,256.760010,SBER
3001,2018-04-09,248.410004,244.570007,240.369995,220.639999,227.800003,221.750000,214.570007,214.429993,213.000000,SBER

,Date,Time,Open,High,Low,Close,Volume
0,2007-05-28,2020-09-14 10:30:00,0.14490,0.17490,0.14400,0.14960,1132396
1,2007-05-28,2020-09-14 10:45:00,0.14960,0.14970,0.14700,0.14840,105126
2,2007-05-28,2020-09-14 11:00:00,0.14800,0.14800,0.14500,0.14640,340880
3,2007-05-28,2020-09-14 11:15:00,0.14630,0.14680,0.14500,0.14600,77645
4,2007-05-28,2020-09-14 11:30:00,0.14600,0.14600,0.14490,0.14500,380210
...,...,...,...,...,...,...,...
92276,2018-04-09,2020-09-14 17:45:00,0.05062,0.05090,0.05047,0.05085,355090
92277,2018-04-09,2020-09-14 18:00:00,0.05084,0.05085,0.05060,0.05072,295120
92278,2018-04-09,2020-09-14 18:15:00,0.05072,0.05091,0.05063,0.05064,369170
92279,2018-04-09,2020-09-14 18:30:00,0.05064,0.05084,0.05048,0.05068,833140
92280,2018-04-09,2020-09-14 18:45:00,0.05040,0.05040,0.05040,0.05040,605450

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2007-05-28,0.14960,0.14840,0.14300,0.14390,0.14300,0.14030,0.14130,0.14180,0.14160,VTBR
1,2007-05-29,0.14330,0.14400,0.14310,0.14200,0.14130,0.14090,0.13930,0.13950,0.13950,VTBR
2,2007-05-30,0.13760,0.13800,0.13860,0.13840,0.13790,0.13790,0.13820,0.13780,0.13850,VTBR
3,2007-05-31,0.14040,0.14070,0.14140,0.14200,0.14200,0.14200,0.14190,0.14330,0.14480,VTBR
4,2007-06-01,0.14470,0.14480,0.14470,0.14510,0.14630,0.14570,0.14490,0.14550,0.14520,VTBR
...,...,...,...,...,...,...,...,...,...,...,...
2671,2018-04-03,0.05118,0.05097,0.05109,0.05228,0.05219,0.05241,0.05246,0.05236,0.05230,VTBR
2672,2018-04-04,0.05244,0.05237,0.05226,0.05228,0.05232,0.05228,0.05214,0.05224,0.05237,VTBR
2673,2018-04-05,0.05279,0.05313,0.05305,0.05319,0.05338,0.05360,0.05351,0.05378,0.05395,VTBR
2674,2018-04-06,0.05465,0.05463,0.05499,0.05493,0.05529,0.05520,0.05485,0.05493,0.05540,VTBR
2675,2018-04-09,0.05325,0.05124,0.05203,0.04965,0.05058,0.05108,0.05045,0.05057,0.05040,VTBR

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-23,220.500000,220.500000,220.449997,220.850006,220.850006,221.330002,220.729996,220.440002,218.889999,GAZP
1,2006-01-24,220.380005,220.490005,219.800003,220.470001,220.000000,220.130005,221.630005,222.199997,224.000000,GAZP
2,2006-01-25,229.300003,229.000000,227.869995,226.699997,227.210007,228.149994,229.500000,228.789993,228.380005,GAZP
3,2006-01-26,228.300003,228.500000,227.550003,228.100006,227.000000,227.800003,227.600006,226.699997,224.470001,GAZP
4,2006-01-27,226.009995,225.300003,225.600006,224.500000,229.500000,229.100006,229.300003,227.000000,228.750000,GAZP
...,...,...,...,...,...,...,...,...,...,...,...
2671,2018-04-03,0.051180,0.050970,0.051090,0.052280,0.052190,0.052410,0.052460,0.052360,0.052300,VTBR
2672,2018-04-04,0.052440,0.052370,0.052260,0.052280,0.052320,0.052280,0.052140,0.052240,0.052370,VTBR
2673,2018-04-05,0.052790,0.053130,0.053050,0.053190,0.053380,0.053600,0.053510,0.053780,0.053950,VTBR
2674,2018-04-06,0.054650,0.054630,0.054990,0.054930,0.055290,0.055200,0.054850,0.054930,0.055400,VTBR
2675,2018-04-09,0.053250,0.051240,0.052030,0.049650,0.050580,0.051080,0.050450,0.050570,0.050400,VTBR

Wall time: 1min 3s

In [4]:
df_all_1

,Date,Close,Close10:45:00,Close11:45:00,Close12:45:00,Close13:45:00,Close14:45:00,Close15:45:00,Close16:45:00,Closelast_bar,Symbol
0,2006-01-23,220.500000,220.500000,220.449997,220.850006,220.850006,221.330002,220.729996,220.440002,218.889999,GAZP
1,2006-01-24,220.380005,220.490005,219.800003,220.470001,220.000000,220.130005,221.630005,222.199997,224.000000,GAZP
2,2006-01-25,229.300003,229.000000,227.869995,226.699997,227.210007,228.149994,229.500000,228.789993,228.380005,GAZP
3,2006-01-26,228.300003,228.500000,227.550003,228.100006,227.000000,227.800003,227.600006,226.699997,224.470001,GAZP
4,2006-01-27,226.009995,225.300003,225.600006,224.500000,229.500000,229.100006,229.300003,227.000000,228.750000,GAZP
...,...,...,...,...,...,...,...,...,...,...,...
2671,2018-04-03,0.051180,0.050970,0.051090,0.052280,0.052190,0.052410,0.052460,0.052360,0.052300,VTBR
2672,2018-04-04,0.052440,0.052370,0.052260,0.052280,0.052320,0.052280,0.052140,0.052240,0.052370,VTBR
2673,2018-04-05,0.052790,0.053130,0.053050,0.053190,0.053380,0.053600,0.053510,0.053780,0.053950,VTBR
2674,2018-04-06,0.054650,0.054630,0.054990,0.054930,0.055290,0.055200,0.054850,0.054930,0.055400,VTBR
2675,2018-04-09,0.053250,0.051240,0.052030,0.049650,0.050580,0.051080,0.050450,0.050570,0.050400,VTBR

## КАК НАСЧЕТ ПРОФИТОВ И MIN10?!

In [10]:
%%time

TIME = ['10:50:00','11:50:00', '12:50:00','13:50:00','14:50:00','15:50:00','16:50:00']
profit_TIME = pd.DataFrame()

for time in TIME:
    N_close = 'Close' + time # ТУТ СПРИЦЕЛОМ НА БРА ОТ КОТОРОГО БУДЕМ СЧИТАТЬ N_close = TIME+close
    for pp in ['GAZP', 'GMKN', 'LKOH', 'ROSN', 'SBER', 'VTBR']:
        merg_all = df_all_1[df_all_1['Symbol'] == pp]

        merg_all['ProftLaBa'] = (merg_all['Closelast_bar'].shift(0) /merg_all[N_close]-1)*100
        merg_all['Proft1000'] = (merg_all['Close']        .shift(-1)/merg_all[N_close]-1)*100
        merg_all['Proft1300'] = (merg_all['Close12:50:00'].shift(-1)/merg_all[N_close]-1)*100
        merg_all['Proft1830'] = (merg_all['Closelast_bar'].shift(-1)/merg_all[N_close]-1)*100
        merg_all['Profi_GEP'] = (merg_all['Close']        .shift(-1)/merg_all['Closelast_bar']-1)*100
        merg_all['Pro_Morni'] = (merg_all['Close12:50:00'].shift(-1)/merg_all['Close'].shift(-1)-1)*100
    # прошлое
        merg_all['Min10']          = (merg_all[N_close]/merg_all['Closelast_bar'].shift(1)-1)*100
        merg_all['Min1000']        = (merg_all[N_close]/merg_all['Close']        .shift(0)-1)*100
        merg_all['Min10_1300']     = (merg_all[N_close]/merg_all['Close12:50:00'].shift(1)-1)*100
        merg_all['Min10_1000']     = (merg_all[N_close]/merg_all['Close']        .shift(1)-1)*100
        
        merg_all['Time'] = time
        
        profit_TIME = profit_TIME.append(merg_all) 
    #    display(merg_all)

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Wall time: 2.12 s

In [11]:
profit_TIME[profit_TIME['Date'] == '2018-04-06'][['Date', 'Time', 'Symbol', 'Close']]
#profit_TIME

           Date      Time Symbol        Close
3010 2018-04-06  10:50:00   GAZP    140.24000
3019 2018-04-06  10:50:00   GMKN  10697.00000
3019 2018-04-06  10:50:00   LKOH   3960.00000
2869 2018-04-06  10:50:00   ROSN    321.65000
3003 2018-04-06  10:50:00   SBER    261.00000
2678 2018-04-06  10:50:00   VTBR      0.05454
3010 2018-04-06  11:50:00   GAZP    140.24000
3019 2018-04-06  11:50:00   GMKN  10697.00000
3019 2018-04-06  11:50:00   LKOH   3960.00000
2869 2018-04-06  11:50:00   ROSN    321.65000
3003 2018-04-06  11:50:00   SBER    261.00000
2678 2018-04-06  11:50:00   VTBR      0.05454
3010 2018-04-06  12:50:00   GAZP    140.24000
3019 2018-04-06  12:50:00   GMKN  10697.00000
3019 2018-04-06  12:50:00   LKOH   3960.00000
2869 2018-04-06  12:50:00   ROSN    321.65000
3003 2018-04-06  12:50:00   SBER    261.00000
2678 2018-04-06  12:50:00   VTBR      0.05454
3010 2018-04-06  13:50:00   GAZP    140.24000
3019 2018-04-06  13:50:00   GMKN  10697.00000
3019 2018-04-06  13:50:00   LKOH   3960.00000
2869 2018-04-06  13:50:00   ROSN    321.65000
3003 2018-04-06  13:50:00   SBER    261.00000
2678 2018-04-06  13:50:00   VTBR      0.05454
3010 2018-04-06  14:50:00   GAZP    140.24000
3019 2018-04-06  14:50:00   GMKN  10697.00000
3019 2018-04-06  14:50:00   LKOH   3960.00000
2869 2018-04-06  14:50:00   ROSN    321.65000
3003 2018-04-06  14:50:00   SBER    261.00000
2678 2018-04-06  14:50:00   VTBR      0.05454
3010 2018-04-06  15:50:00   GAZP    140.24000
3019 2018-04-06  15:50:00   GMKN  10697.00000
3019 2018-04-06  15:50:00   LKOH   3960.00000
2869 2018-04-06  15:50:00   ROSN    321.65000
3003 2018-04-06  15:50:00   SBER    261.00000
2678 2018-04-06  15:50:00   VTBR      0.05454
3010 2018-04-06  16:50:00   GAZP    140.24000
3019 2018-04-06  16:50:00   GMKN  10697.00000
3019 2018-04-06  16:50:00   LKOH   3960.00000
2869 2018-04-06  16:50:00   ROSN    321.65000
3003 2018-04-06  16:50:00   SBER    261.00000
2678 2018-04-06  16:50:00   VTBR      0.05454

In [12]:
profit_TIME.to_csv('E:/Host/Data/Database/10min/profit_TIME_1840.csv')

In [11]:
df

,Date,Time,Open,High,Low,Close,Volume
0,2006-01-23,2020-09-12 10:30:00,239.000000,239.000000,220.009995,220.500000,681738
1,2006-01-23,2020-09-12 10:45:00,220.330002,221.440002,219.330002,220.500000,698500
2,2006-01-23,2020-09-12 11:00:00,220.500000,220.940002,219.710007,220.940002,141357
3,2006-01-23,2020-09-12 11:15:00,220.899994,220.899994,219.800003,220.460007,154324
4,2006-01-23,2020-09-12 11:30:00,220.460007,220.970001,220.009995,220.500000,64555
...,...,...,...,...,...,...,...
96,2006-01-25,2020-09-12 18:00:00,228.589996,228.880005,228.070007,228.770004,361608
97,2006-01-25,2020-09-12 18:15:00,228.839996,228.899994,228.600006,228.699997,177438
98,2006-01-25,2020-09-12 18:30:00,228.699997,228.699997,228.029999,228.380005,583262
99,2006-01-26,2020-09-12 10:30:00,228.899994,228.899994,226.449997,228.300003,517604
100,2006-01-26,2020-09-12 10:45:00,228.300003,229.410004,228.300003,228.500000,504972

# ЗАМЕНА БЛОКУ 1 в части 1 и последнего бара. ДЕЛАЕМ КАК TA

In [5]:
%%time
#Long

#df = pd.read_excel('E:/Host/Data/Bees/Finance_ML/gazp15.xlsx', decimal='.', sep = ',', encoding='latin-1', parse_dates=['Date', 'Time'])
df['Cl_1']  = 0.0


k1 = []

for i in range(len(df)):
    if df.iloc[i,0].date() != df.iloc[i-1,0].date():
        k = 1
        df['Cl_1'][i]   =  df['Close'][i]

    else:
        k += 1
        df['Cl_1'][i]  = df['Cl_1'][i-1]


    k1.append(k)

df['Long'] = k1

#short

df.sort_values(by = ['Date', 'Time'], ascending=False, inplace=True)
df['Cl_Last']  = 0.0


k1 = []

for i in range(len(df_re)):
    if df.iloc[i,0].date() != df.iloc[i-1,0].date():
        k = 1
        df['Cl_Last'].iloc[i]  = df['Close'] .iloc[i]


    else:
        k += 1
        df['Cl_Last'].iloc[i]  = df['Cl_Last'].iloc[i-1]


    k1.append(k)

df['Short'] = k1
df.sort_values(by = ['Date', 'Time'], ascending=True, inplace=True)

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

NameError: name 'df_re' is not defined

In [119]:
pd.options.display.max_rows=100
df.head(100)

,Date,Time,Open,High,Low,Close,Volume,Cl_1,Long,Cl_Last,Short
0,2006-01-23,2020-09-11 10:30:00,239.000000,239.000000,220.009995,220.500000,681738,220.500000,1,218.889999,33
1,2006-01-23,2020-09-11 10:45:00,220.330002,221.440002,219.330002,220.500000,698500,220.500000,2,218.889999,32
2,2006-01-23,2020-09-11 11:00:00,220.500000,220.940002,219.710007,220.940002,141357,220.500000,3,218.889999,31
3,2006-01-23,2020-09-11 11:15:00,220.899994,220.899994,219.800003,220.460007,154324,220.500000,4,218.889999,30
4,2006-01-23,2020-09-11 11:30:00,220.460007,220.970001,220.009995,220.500000,64555,220.500000,5,218.889999,29
...,...,...,...,...,...,...,...,...,...,...,...
103191,2018-04-09,2020-09-11 17:45:00,135.029999,135.399994,134.699997,135.100006,1097130,139.440002,32,135.009995,5
103192,2018-04-09,2020-09-11 18:00:00,135.080002,135.660004,134.899994,135.009995,736800,139.440002,33,135.009995,4
103193,2018-04-09,2020-09-11 18:15:00,135.000000,135.130005,134.850006,134.929993,731980,139.440002,34,135.009995,3
103194,2018-04-09,2020-09-11 18:30:00,134.919998,134.979996,134.699997,134.850006,496610,139.440002,35,135.009995,2
103195,2018-04-09,2020-09-11 18:45:00,135.009995,135.009995,135.009995,135.009995,1493750,139.440002,36,135.009995,1

# СОЗДАЕМ 2 БЛОК (ПОСЛЕДНИЕ N БАРОВ ПЕРЕД TIME)

In [4]:
%%time

# СОЗДАЕМ 2 БЛОК ЭТО ПОСЛЕДНИЕ N БАРОВ ОТ КАКОГО ТО ВРЕМЕНИ


# Создаем блоки утра namber = 16 
all_N = pd.DataFrame()
N = 16 #ЧИСЛО БАРОВ ДО TIME
TIME = '12:00:00' # ОТ КАКОГО ВРЕМЕНИ СЧИТАЕМ N БАРОВ НАЗАД
df[TIME] = np.where(df.Time == TIME, 1, 0) #СОЗДАЛИ СТОЛБЕЦ ГДЕ 1 ЕСЛИ ВРЕМЯ СОВПАЛО С TIME 
for i in range(N-1, len(df)):
     if df.loc[i][TIME] == 1:
        df_N = df.loc[i-(N-1):i]
        all_N = all_N.append(df_N)
display(all_N.shape)        
display(len(all_N)/(N))  


#create data+16close_morning for DATA
#cобираем по N reshape Close
W = "Close" #что берем close high low...можно все но нужно 3 мерный нампай
close = np.array(all_N[W])
close = np.reshape(close, (int(len(all_N)/N), N))
#cобираем по N reshape Date
data = np.array(all_N['Date'])
data = np.reshape(data, (int(len(all_N)/N), N))
#cобираем по N reshape Time
time = np.array(all_N['Time'])
time = np.reshape(time, (int(len(all_N)/N), N))


#дата time последняя в ряду
data = data[:,-1]
time = time[:,-1]

#Обьединяем date and close
data_close = pd.concat([pd.DataFrame(data, columns=['Date']), pd.DataFrame(time, columns=['Time']), pd.DataFrame(close)], axis=1)
data_close.shape

(48720, 8)

3045.0

Wall time: 20.7 s

(3045, 18)

In [5]:
data_close

,Date,Time,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2006-01-24,2020-09-10 12:00:00,220.250000,220.440002,219.449997,219.399994,219.610001,219.490005,220.000000,218.960007,218.889999,220.380005,220.490005,220.440002,220.500000,220.199997,219.800003,220.250000
1,2006-01-25,2020-09-10 12:00:00,222.199997,222.199997,222.600006,222.449997,222.869995,222.899994,223.000000,223.889999,224.000000,229.300003,229.000000,229.550003,228.800003,227.880005,227.869995,226.110001
2,2006-01-26,2020-09-10 12:00:00,228.080002,228.789993,228.729996,228.500000,228.600006,228.449997,228.770004,228.699997,228.380005,228.300003,228.500000,227.800003,227.600006,227.789993,227.550003,227.880005
3,2006-01-27,2020-09-10 12:00:00,227.250000,226.699997,225.710007,224.500000,225.500000,225.160004,225.389999,225.160004,224.470001,226.009995,225.300003,225.839996,225.710007,225.710007,225.600006,225.800003
4,2006-01-30,2020-09-10 12:00:00,227.550003,227.000000,226.759995,227.899994,227.399994,227.449997,227.500000,227.729996,228.750000,230.250000,228.839996,228.500000,228.750000,228.300003,227.460007,228.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,2018-04-03,2020-09-10 12:00:00,141.210007,141.199997,140.899994,140.600006,141.360001,140.910004,140.320007,140.860001,140.649994,140.240005,140.080002,140.240005,140.429993,140.470001,140.559998,140.490005
3041,2018-04-04,2020-09-10 12:00:00,140.460007,140.539993,140.699997,140.699997,140.610001,140.660004,141.130005,140.669998,140.869995,141.169998,140.419998,140.229996,140.399994,140.259995,140.169998,139.520004
3042,2018-04-05,2020-09-10 12:00:00,139.820007,139.570007,139.710007,139.740005,140.070007,140.190002,140.179993,141.199997,141.139999,140.970001,140.949997,140.910004,140.720001,140.580002,140.639999,140.720001
3043,2018-04-06,2020-09-10 12:00:00,140.600006,140.190002,140.149994,140.610001,140.309998,140.250000,140.500000,140.139999,140.509995,140.699997,140.679993,140.979996,140.839996,141.220001,141.070007,141.330002
3044,2018-04-09,2020-09-10 12:00:00,141.910004,141.460007,141.059998,140.990005,140.979996,141.179993,141.500000,139.440002,135.619995,135.389999,136.399994,136.649994,136.850006,136.470001,135.990005,135.500000

## ЧТО НАСЧЕТ ДОБАВКИ К 2 БЛОКУ В ВИДЕ ТЕХИНДИКАТОРОВ ЗА ПОСЛЕДНИЕ N БАРОВ?

In [6]:
%%time

## оке но как насчет своих индикаторов для ряда в 16 последних?

#add some things
#ОТДЕЛЬНЫЙ БЛОК КАК ИЗ РЯДА В 16  ВЫТАЩИТЬ КОЕ ЧТО

from sklearn.preprocessing import MinMaxScaler

series = data_close.iloc[:,-N:] #ОБЯЗАТЕЛЬНО ЗАДАТЬ ТОЛЬКО ГОЛЫЕ date without time and date 
series['mean'] = series.iloc[:,0:N].mean(axis=1)
series['max']  = series.iloc[:,0:N].max(axis=1)
series['min']  = series.iloc[:,0:N].min(axis=1)

scaler = MinMaxScaler(feature_range=(-1, 1))
a = series.iloc[:, :-3]
a = scaler.fit_transform(a.T)

#ДОБАВИЛИ НОВЫЕ ФИЧИ
series['MinMaxScaler'] = a[-1]
series['Range'] = (series['max']/series['min']-1)*100
series['CltoMax'] = (series[15]/series['max']-1)*100
series['CltoMin'] = (series[15]/series['min']-1)*100

series

#ДОБАBИЛИ В DATE
data_close   = pd.concat([data_close,   series.iloc[:,-4:]], axis=1)
# data_f = pd.concat([data_f, series.iloc[:,-4:]], axis=1)
data_close

,Date,Time,0,1,2,3,4,5,6,7,...,10,11,12,13,14,15,MinMaxScaler,Range,CltoMax,CltoMin
0,2006-01-24,2020-09-10 12:00:00,220.250000,220.440002,219.449997,219.399994,219.610001,219.490005,220.000000,218.960007,...,220.490005,220.440002,220.500000,220.199997,219.800003,220.250000,0.689441,0.735530,-0.113379,0.621317
1,2006-01-25,2020-09-10 12:00:00,222.199997,222.199997,222.600006,222.449997,222.869995,222.899994,223.000000,223.889999,...,229.000000,229.550003,228.800003,227.880005,227.869995,226.110001,0.063946,3.307834,-1.498585,1.759678
2,2006-01-26,2020-09-10 12:00:00,228.080002,228.789993,228.729996,228.500000,228.600006,228.449997,228.770004,228.699997,...,228.500000,227.800003,227.600006,227.789993,227.550003,227.880005,-0.467735,0.544931,-0.397740,0.145024
3,2006-01-27,2020-09-10 12:00:00,227.250000,226.699997,225.710007,224.500000,225.500000,225.160004,225.389999,225.160004,...,225.300003,225.839996,225.710007,225.710007,225.600006,225.800003,-0.043164,1.238472,-0.638062,0.592508
4,2006-01-30,2020-09-10 12:00:00,227.550003,227.000000,226.759995,227.899994,227.399994,227.449997,227.500000,227.729996,...,228.839996,228.500000,228.750000,228.300003,227.460007,228.000000,-0.289396,1.539075,-0.977199,0.546836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,2018-04-03,2020-09-10 12:00:00,141.210007,141.199997,140.899994,140.600006,141.360001,140.910004,140.320007,140.860001,...,140.080002,140.240005,140.429993,140.470001,140.559998,140.490005,-0.359369,0.913763,-0.615446,0.292693
3041,2018-04-04,2020-09-10 12:00:00,140.460007,140.539993,140.699997,140.699997,140.610001,140.660004,141.130005,140.669998,...,140.419998,140.229996,140.399994,140.259995,140.169998,139.520004,-1.000000,1.182622,-1.168799,0.000000
3042,2018-04-05,2020-09-10 12:00:00,139.820007,139.570007,139.710007,139.740005,140.070007,140.190002,140.179993,141.199997,...,140.949997,140.910004,140.720001,140.580002,140.639999,140.720001,0.411044,1.167865,-0.339940,0.823955
3043,2018-04-06,2020-09-10 12:00:00,140.600006,140.190002,140.149994,140.610001,140.309998,140.250000,140.500000,140.139999,...,140.679993,140.979996,140.839996,141.220001,141.070007,141.330002,1.000000,0.849153,0.000000,0.849153
3044,2018-04-09,2020-09-10 12:00:00,141.910004,141.460007,141.059998,140.990005,140.979996,141.179993,141.500000,139.440002,...,136.399994,136.649994,136.850006,136.470001,135.990005,135.500000,-0.966258,4.815721,-4.516950,0.081247

# СОЗДАЕМ 3 БЛОК (ТЕХИНИКТОРЫ. ОНИ УЖЕ ПОДСЧИТАННЫ ДЛЯ 15 МИНУТОК И НАХОДЯТСЯ В df_f_all (df_f_all_normalize).CSV НО ТАМ ТОЛЬКО ДЛЯ N=5,14,28)
# ЛИБО ЮЗАЕМ TALIB СО СВОИМИ ИНДИКАТОРАМИ

In [13]:
%%time
TA = pd.read_csv('E:/Host/Data/Database/10min/TA.csv', parse_dates=['Date'])

Wall time: 34.8 s

# 4 БЛОК. БЕРЕМ ДАННЫЕ ВНУТРИ ДНЯ ДЛЯ КАЖДОГО ФРЕЙМА.

In [15]:
###!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
def ls(df4):
    #может стоит убрать первый бар или брать по клозу, ибо зай и лоу 1 бара слишком волатильны
    
    #Long1
    df4['Cl_1']     = 0.0 #певый бар 
    df4['Cl_Last']  = 0.0 #last bar
    df4['Long']     = 0.0
    df4['Short']    = 0.0
    k1 = []              #accounter
    s1 = []              #accounter

    for i in range(len(df4)):
        if df4.iloc[i,0].date() != df4.iloc[i-1,0].date():
            k = 1
            df4['Cl_1'][i]   =  df4['Close'][i]
        else:
            k += 1
            df4['Cl_1'][i]   =  df4['Cl_1'][i-1]

        k1.append(k)
    df4['Long'] = k1
    
    #Min

    min_all = []
    for i in range(len(df4)):    

        f = df4['Long'][i]
        min = (df4['Low'][i+1-f:i+1]).min()
        min_all.append(min)
    df4['min_day'] = min_all


    #Max
    max_all = []
    for i in range(len(df4)):    

        f = df4['Long'][i]
        max = (df4['High'][i+1-f:i+1]).max()
        max_all.append(max)
    df4['max_day'] = max_all
    
    #add some TA indicator
    df4['Cl/min_day']      = (df4['Close']/df4['min_day']-1)*100
    df4['Cl/max_day']      = (df4['Close']/df4['max_day']-1)*100
    df4['max_day-min_day'] = ((df4['max_day']-df4['min_day'])/df4['Close'])*100
    

    #short1

    df4 = df4[::-1] #перевернул
#    display(df4)
    for i in range(len(df4)):
        if df4.iloc[i,0].date() != df4.iloc[i-1,0].date():
            s = 1
            df4['Cl_Last'].iloc[i]  = df4['Close'].iloc[i]
        else:
            s += 1
            df4['Cl_Last'].iloc[i]  = df4['Cl_Last'].iloc[i-1]

        s1.append(s)
    df4['Short'] = s1
#    display(df4)
    df4 = df4[::-1] #перевернул
#    display(df4)

    
    return(df4)

In [16]:
df4 = pd.read_csv('E:/Host/Data/Database/10min/2006_to_now.csv', parse_dates=['Date'])
df4['Time']  = df4['Date'].dt.time
df4['Date']  = df4['Date'].dt.date
df4.drop(columns='Unnamed: 0', inplace=True)
#df4.info()
#df4 = df4[df4['Symbol'] == 'GAZP']

In [17]:
df4

,Date,Open,High,Low,Close,Volume,Symbol,Time
0,2006-01-23,239.000000,239.000000,221.000000,221.500000,9.992662e+07,GAZP,10:30:00
1,2006-01-23,221.500000,222.890000,219.330000,220.500000,1.037755e+08,GAZP,10:40:00
2,2006-01-23,220.500000,221.440000,220.220000,220.500000,1.010915e+08,GAZP,10:50:00
3,2006-01-23,220.500000,220.500000,219.710000,220.490000,2.572082e+07,GAZP,11:00:00
4,2006-01-23,220.480000,220.940000,219.860000,220.000000,2.369642e+07,GAZP,11:10:00
...,...,...,...,...,...,...,...,...
1119309,2020-09-18,0.035580,0.035665,0.035565,0.035570,2.255754e+07,VTBR,11:00:00
1119310,2020-09-18,0.035570,0.035600,0.035530,0.035565,1.062869e+07,VTBR,11:10:00
1119311,2020-09-18,0.035560,0.035565,0.035505,0.035555,7.170856e+06,VTBR,11:20:00
1119312,2020-09-18,0.035545,0.035555,0.035520,0.035535,3.007063e+06,VTBR,11:30:00
1119313,2020-09-18,0.035540,0.035550,0.035530,0.035545,9.288704e+05,VTBR,11:40:00

In [18]:
%%time
#версия 2 для 10 минуток для 1 файла
df_all = pd.DataFrame()
df4['Date'] = pd.to_datetime(df4['Date']) # добавил, а то почему то не дата
for pp in ['GAZP', 'GMKN', 'LKOH', 'ROSN', 'SBER', 'VTBR']:
    df4_pp = df4[df4['Symbol'] == pp]
    df4_pp.reset_index(inplace = True, drop=True)
    display(pp)
    df4_in = ls(df4_pp)  #воткнил блок 4
    df_all = df_all.append(df4_in)

'GAZP'

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

'GMKN'

'LKOH'

'ROSN'

'SBER'

'VTBR'

Wall time: 14min 52s

In [19]:
df_all

,Date,Open,High,Low,Close,Volume,Symbol,Time,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-01-23,239.000000,239.000000,221.000000,221.500000,9.992662e+07,GAZP,10:30:00,221.50000,218.890000,1,50,221.000000,239.0000,0.226244,-7.322176,8.126411
1,2006-01-23,221.500000,222.890000,219.330000,220.500000,1.037755e+08,GAZP,10:40:00,221.50000,218.890000,2,49,219.330000,239.0000,0.533443,-7.740586,8.920635
2,2006-01-23,220.500000,221.440000,220.220000,220.500000,1.010915e+08,GAZP,10:50:00,221.50000,218.890000,3,48,219.330000,239.0000,0.533443,-7.740586,8.920635
3,2006-01-23,220.500000,220.500000,219.710000,220.490000,2.572082e+07,GAZP,11:00:00,221.50000,218.890000,4,47,219.330000,239.0000,0.528883,-7.744770,8.921040
4,2006-01-23,220.480000,220.940000,219.860000,220.000000,2.369642e+07,GAZP,11:10:00,221.50000,218.890000,5,46,219.330000,239.0000,0.305476,-7.949791,8.940909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173807,2020-09-18,0.035580,0.035665,0.035565,0.035570,2.255754e+07,VTBR,11:00:00,0.03576,0.035545,8,5,0.035525,0.0358,0.126671,-0.642458,0.773123
173808,2020-09-18,0.035570,0.035600,0.035530,0.035565,1.062869e+07,VTBR,11:10:00,0.03576,0.035545,9,4,0.035525,0.0358,0.112597,-0.656425,0.773232
173809,2020-09-18,0.035560,0.035565,0.035505,0.035555,7.170856e+06,VTBR,11:20:00,0.03576,0.035545,10,3,0.035505,0.0358,0.140825,-0.684358,0.829700
173810,2020-09-18,0.035545,0.035555,0.035520,0.035535,3.007063e+06,VTBR,11:30:00,0.03576,0.035545,11,2,0.035505,0.0358,0.084495,-0.740223,0.830167
173811,2020-09-18,0.035540,0.035550,0.035530,0.035545,9.288704e+05,VTBR,11:40:00,0.03576,0.035545,12,1,0.035505,0.0358,0.112660,-0.712291,0.829934

In [78]:
%%time

#версия 1 для 15 минуток из 6 файлов
#df4 = pd.read_excel('E:/Host/Data/Bees/Finance_ML/gazp15.xlsx', decimal='.', sep = ',', encoding='latin-1', parse_dates=['Date', 'Time'])

df_all = pd.DataFrame()
for pp in ['GAZP', 'GMKN', 'LKOH', 'ROSN', 'SBER', 'VTBR']:
    df4 = pd.read_excel("E:/Host/Data/Database/from_Wealth/{}.xlsx".format(pp), decimal='.', sep = ',', encoding='latin-1', parse_dates=['Date', 'Time'])
    df4['Symbol'] = pp
    df4 = ls(df4)  #воткнил блок 4
    df_all = df_all.append(df4)

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103195,2018-04-09,2020-09-13 18:45:00,135.009995,135.009995,135.009995,135.009995,1493750,GAZP,139.440002,0.0,36,0.0,128.190002,141.220001,5.320222,-4.397399,9.651136
103194,2018-04-09,2020-09-13 18:30:00,134.919998,134.979996,134.699997,134.850006,496610,GAZP,139.440002,0.0,35,0.0,128.190002,141.220001,5.195416,-4.510689,9.662587
103193,2018-04-09,2020-09-13 18:15:00,135.000000,135.130005,134.850006,134.929993,731980,GAZP,139.440002,0.0,34,0.0,128.190002,141.220001,5.257813,-4.454049,9.656859
103192,2018-04-09,2020-09-13 18:00:00,135.080002,135.660004,134.899994,135.009995,736800,GAZP,139.440002,0.0,33,0.0,128.190002,141.220001,5.320222,-4.397399,9.651136
103191,2018-04-09,2020-09-13 17:45:00,135.029999,135.399994,134.699997,135.100006,1097130,GAZP,139.440002,0.0,32,0.0,128.190002,141.220001,5.390439,-4.333660,9.644706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-23,2020-09-13 11:30:00,220.460007,220.970001,220.009995,220.500000,64555,GAZP,220.500000,0.0,5,0.0,219.330002,239.000000,0.533442,-7.740586,8.920634
3,2006-01-23,2020-09-13 11:15:00,220.899994,220.899994,219.800003,220.460007,154324,GAZP,220.500000,0.0,4,0.0,219.330002,239.000000,0.515208,-7.757319,8.922252
2,2006-01-23,2020-09-13 11:00:00,220.500000,220.940002,219.710007,220.940002,141357,GAZP,220.500000,0.0,3,0.0,219.330002,239.000000,0.734054,-7.556484,8.902869
1,2006-01-23,2020-09-13 10:45:00,220.330002,221.440002,219.330002,220.500000,698500,GAZP,220.500000,0.0,2,0.0,219.330002,239.000000,0.533442,-7.740586,8.920634
0,2006-01-23,2020-09-13 10:30:00,239.000000,239.000000,220.009995,220.500000,681738,GAZP,220.500000,0.0,1,0.0,220.009995,239.000000,0.222720,-7.740586,8.612247

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103195,2018-04-09,2020-09-13 18:45:00,135.009995,135.009995,135.009995,135.009995,1493750,GAZP,139.440002,135.009995,36,1,128.190002,141.220001,5.320222,-4.397399,9.651136
103194,2018-04-09,2020-09-13 18:30:00,134.919998,134.979996,134.699997,134.850006,496610,GAZP,139.440002,135.009995,35,2,128.190002,141.220001,5.195416,-4.510689,9.662587
103193,2018-04-09,2020-09-13 18:15:00,135.000000,135.130005,134.850006,134.929993,731980,GAZP,139.440002,135.009995,34,3,128.190002,141.220001,5.257813,-4.454049,9.656859
103192,2018-04-09,2020-09-13 18:00:00,135.080002,135.660004,134.899994,135.009995,736800,GAZP,139.440002,135.009995,33,4,128.190002,141.220001,5.320222,-4.397399,9.651136
103191,2018-04-09,2020-09-13 17:45:00,135.029999,135.399994,134.699997,135.100006,1097130,GAZP,139.440002,135.009995,32,5,128.190002,141.220001,5.390439,-4.333660,9.644706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-23,2020-09-13 11:30:00,220.460007,220.970001,220.009995,220.500000,64555,GAZP,220.500000,218.889999,5,29,219.330002,239.000000,0.533442,-7.740586,8.920634
3,2006-01-23,2020-09-13 11:15:00,220.899994,220.899994,219.800003,220.460007,154324,GAZP,220.500000,218.889999,4,30,219.330002,239.000000,0.515208,-7.757319,8.922252
2,2006-01-23,2020-09-13 11:00:00,220.500000,220.940002,219.710007,220.940002,141357,GAZP,220.500000,218.889999,3,31,219.330002,239.000000,0.734054,-7.556484,8.902869
1,2006-01-23,2020-09-13 10:45:00,220.330002,221.440002,219.330002,220.500000,698500,GAZP,220.500000,218.889999,2,32,219.330002,239.000000,0.533442,-7.740586,8.920634
0,2006-01-23,2020-09-13 10:30:00,239.000000,239.000000,220.009995,220.500000,681738,GAZP,220.500000,218.889999,1,33,220.009995,239.000000,0.222720,-7.740586,8.612247

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-01-23,2020-09-13 10:30:00,239.000000,239.000000,220.009995,220.500000,681738,GAZP,220.500000,218.889999,1,33,220.009995,239.000000,0.222720,-7.740586,8.612247
1,2006-01-23,2020-09-13 10:45:00,220.330002,221.440002,219.330002,220.500000,698500,GAZP,220.500000,218.889999,2,32,219.330002,239.000000,0.533442,-7.740586,8.920634
2,2006-01-23,2020-09-13 11:00:00,220.500000,220.940002,219.710007,220.940002,141357,GAZP,220.500000,218.889999,3,31,219.330002,239.000000,0.734054,-7.556484,8.902869
3,2006-01-23,2020-09-13 11:15:00,220.899994,220.899994,219.800003,220.460007,154324,GAZP,220.500000,218.889999,4,30,219.330002,239.000000,0.515208,-7.757319,8.922252
4,2006-01-23,2020-09-13 11:30:00,220.460007,220.970001,220.009995,220.500000,64555,GAZP,220.500000,218.889999,5,29,219.330002,239.000000,0.533442,-7.740586,8.920634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103191,2018-04-09,2020-09-13 17:45:00,135.029999,135.399994,134.699997,135.100006,1097130,GAZP,139.440002,135.009995,32,5,128.190002,141.220001,5.390439,-4.333660,9.644706
103192,2018-04-09,2020-09-13 18:00:00,135.080002,135.660004,134.899994,135.009995,736800,GAZP,139.440002,135.009995,33,4,128.190002,141.220001,5.320222,-4.397399,9.651136
103193,2018-04-09,2020-09-13 18:15:00,135.000000,135.130005,134.850006,134.929993,731980,GAZP,139.440002,135.009995,34,3,128.190002,141.220001,5.257813,-4.454049,9.656859
103194,2018-04-09,2020-09-13 18:30:00,134.919998,134.979996,134.699997,134.850006,496610,GAZP,139.440002,135.009995,35,2,128.190002,141.220001,5.195416,-4.510689,9.662587
103195,2018-04-09,2020-09-13 18:45:00,135.009995,135.009995,135.009995,135.009995,1493750,GAZP,139.440002,135.009995,36,1,128.190002,141.220001,5.320222,-4.397399,9.651136

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103430,2018-04-09,2020-09-13 18:45:00,9170.00000,9170.000000,9170.000000,9170.000000,45880,GMKN,10164.0,0.0,36,0.0,8824.000000,10625.000000,3.921124,-13.694118,19.640131
103429,2018-04-09,2020-09-13 18:30:00,9183.00000,9249.000000,9180.000000,9200.000000,19172,GMKN,10164.0,0.0,35,0.0,8824.000000,10625.000000,4.261106,-13.411765,19.576087
103428,2018-04-09,2020-09-13 18:15:00,9139.00000,9200.000000,9139.000000,9182.000000,8448,GMKN,10164.0,0.0,34,0.0,8824.000000,10625.000000,4.057117,-13.581176,19.614463
103427,2018-04-09,2020-09-13 18:00:00,9044.00000,9156.000000,9030.000000,9142.000000,12423,GMKN,10164.0,0.0,33,0.0,8824.000000,10625.000000,3.603808,-13.957647,19.700284
103426,2018-04-09,2020-09-13 17:45:00,9013.00000,9048.000000,9012.000000,9042.000000,8873,GMKN,10164.0,0.0,32,0.0,8824.000000,10625.000000,2.470535,-14.898824,19.918160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,2295.00000,2297.989990,2294.000000,2297.810059,7125,GMKN,2316.0,0.0,5,0.0,2283.030029,2523.929932,0.647387,-8.959039,10.483891
3,2006-01-10,2020-09-13 11:15:00,2291.98999,2298.949951,2283.030029,2295.000000,31178,GMKN,2316.0,0.0,4,0.0,2283.030029,2523.929932,0.524302,-9.070376,10.496728
2,2006-01-10,2020-09-13 11:00:00,2300.00000,2300.000000,2286.000000,2291.989990,27236,GMKN,2316.0,0.0,3,0.0,2286.000000,2523.929932,0.262029,-9.189635,10.380932
1,2006-01-10,2020-09-13 10:45:00,2316.00000,2320.000000,2290.000000,2299.000000,36641,GMKN,2316.0,0.0,2,0.0,2290.000000,2523.929932,0.393013,-8.911893,10.175291
0,2006-01-10,2020-09-13 10:30:00,2488.48999,2523.929932,2313.000000,2316.000000,71094,GMKN,2316.0,0.0,1,0.0,2313.000000,2523.929932,0.129702,-8.238340,9.107510

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103430,2018-04-09,2020-09-13 18:45:00,9170.00000,9170.000000,9170.000000,9170.000000,45880,GMKN,10164.0,9170.0,36,1,8824.000000,10625.000000,3.921124,-13.694118,19.640131
103429,2018-04-09,2020-09-13 18:30:00,9183.00000,9249.000000,9180.000000,9200.000000,19172,GMKN,10164.0,9170.0,35,2,8824.000000,10625.000000,4.261106,-13.411765,19.576087
103428,2018-04-09,2020-09-13 18:15:00,9139.00000,9200.000000,9139.000000,9182.000000,8448,GMKN,10164.0,9170.0,34,3,8824.000000,10625.000000,4.057117,-13.581176,19.614463
103427,2018-04-09,2020-09-13 18:00:00,9044.00000,9156.000000,9030.000000,9142.000000,12423,GMKN,10164.0,9170.0,33,4,8824.000000,10625.000000,3.603808,-13.957647,19.700284
103426,2018-04-09,2020-09-13 17:45:00,9013.00000,9048.000000,9012.000000,9042.000000,8873,GMKN,10164.0,9170.0,32,5,8824.000000,10625.000000,2.470535,-14.898824,19.918160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,2295.00000,2297.989990,2294.000000,2297.810059,7125,GMKN,2316.0,2357.0,5,29,2283.030029,2523.929932,0.647387,-8.959039,10.483891
3,2006-01-10,2020-09-13 11:15:00,2291.98999,2298.949951,2283.030029,2295.000000,31178,GMKN,2316.0,2357.0,4,30,2283.030029,2523.929932,0.524302,-9.070376,10.496728
2,2006-01-10,2020-09-13 11:00:00,2300.00000,2300.000000,2286.000000,2291.989990,27236,GMKN,2316.0,2357.0,3,31,2286.000000,2523.929932,0.262029,-9.189635,10.380932
1,2006-01-10,2020-09-13 10:45:00,2316.00000,2320.000000,2290.000000,2299.000000,36641,GMKN,2316.0,2357.0,2,32,2290.000000,2523.929932,0.393013,-8.911893,10.175291
0,2006-01-10,2020-09-13 10:30:00,2488.48999,2523.929932,2313.000000,2316.000000,71094,GMKN,2316.0,2357.0,1,33,2313.000000,2523.929932,0.129702,-8.238340,9.107510

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-01-10,2020-09-13 10:30:00,2488.48999,2523.929932,2313.000000,2316.000000,71094,GMKN,2316.0,2357.0,1,33,2313.000000,2523.929932,0.129702,-8.238340,9.107510
1,2006-01-10,2020-09-13 10:45:00,2316.00000,2320.000000,2290.000000,2299.000000,36641,GMKN,2316.0,2357.0,2,32,2290.000000,2523.929932,0.393013,-8.911893,10.175291
2,2006-01-10,2020-09-13 11:00:00,2300.00000,2300.000000,2286.000000,2291.989990,27236,GMKN,2316.0,2357.0,3,31,2286.000000,2523.929932,0.262029,-9.189635,10.380932
3,2006-01-10,2020-09-13 11:15:00,2291.98999,2298.949951,2283.030029,2295.000000,31178,GMKN,2316.0,2357.0,4,30,2283.030029,2523.929932,0.524302,-9.070376,10.496728
4,2006-01-10,2020-09-13 11:30:00,2295.00000,2297.989990,2294.000000,2297.810059,7125,GMKN,2316.0,2357.0,5,29,2283.030029,2523.929932,0.647387,-8.959039,10.483891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103426,2018-04-09,2020-09-13 17:45:00,9013.00000,9048.000000,9012.000000,9042.000000,8873,GMKN,10164.0,9170.0,32,5,8824.000000,10625.000000,2.470535,-14.898824,19.918160
103427,2018-04-09,2020-09-13 18:00:00,9044.00000,9156.000000,9030.000000,9142.000000,12423,GMKN,10164.0,9170.0,33,4,8824.000000,10625.000000,3.603808,-13.957647,19.700284
103428,2018-04-09,2020-09-13 18:15:00,9139.00000,9200.000000,9139.000000,9182.000000,8448,GMKN,10164.0,9170.0,34,3,8824.000000,10625.000000,4.057117,-13.581176,19.614463
103429,2018-04-09,2020-09-13 18:30:00,9183.00000,9249.000000,9180.000000,9200.000000,19172,GMKN,10164.0,9170.0,35,2,8824.000000,10625.000000,4.261106,-13.411765,19.576087
103430,2018-04-09,2020-09-13 18:45:00,9170.00000,9170.000000,9170.000000,9170.000000,45880,GMKN,10164.0,9170.0,36,1,8824.000000,10625.000000,3.921124,-13.694118,19.640131

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103459,2018-04-09,2020-09-13 18:45:00,3620.0,3620.00000,3620.000000,3620.000000,60503,LKOH,3884.0,0.0,36,0.0,3532.5,3920.5,2.476999,-7.664839,10.718232
103458,2018-04-09,2020-09-13 18:30:00,3645.0,3645.50000,3645.000000,3645.500000,19206,LKOH,3884.0,0.0,35,0.0,3532.5,3920.5,3.198868,-7.014411,10.643259
103457,2018-04-09,2020-09-13 18:15:00,3640.0,3650.50000,3638.000000,3645.000000,35774,LKOH,3884.0,0.0,34,0.0,3532.5,3920.5,3.184713,-7.027165,10.644719
103456,2018-04-09,2020-09-13 18:00:00,3644.0,3656.00000,3634.000000,3640.500000,20774,LKOH,3884.0,0.0,33,0.0,3532.5,3920.5,3.057325,-7.141946,10.657877
103455,2018-04-09,2020-09-13 17:45:00,3654.5,3664.00000,3642.000000,3645.000000,73176,LKOH,3884.0,0.0,32,0.0,3532.5,3920.5,3.184713,-7.027165,10.644719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,1788.0,1789.25000,1786.020020,1788.000000,37596,LKOH,1790.0,0.0,5,0.0,1777.0,1815.0,0.619021,-1.487603,2.125280
3,2006-01-10,2020-09-13 11:15:00,1787.0,1789.98999,1785.300049,1789.000000,50773,LKOH,1790.0,0.0,4,0.0,1777.0,1815.0,0.675295,-1.432507,2.124092
2,2006-01-10,2020-09-13 11:00:00,1787.0,1791.98999,1785.000000,1787.000000,139999,LKOH,1790.0,0.0,3,0.0,1777.0,1815.0,0.562746,-1.542700,2.126469
1,2006-01-10,2020-09-13 10:45:00,1790.0,1791.00000,1782.069946,1786.119995,123624,LKOH,1790.0,0.0,2,0.0,1777.0,1815.0,0.513224,-1.591185,2.127517
0,2006-01-10,2020-09-13 10:30:00,1801.0,1815.00000,1777.000000,1790.000000,206445,LKOH,1790.0,0.0,1,0.0,1777.0,1815.0,0.731570,-1.377410,2.122905

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
103459,2018-04-09,2020-09-13 18:45:00,3620.0,3620.00000,3620.000000,3620.000000,60503,LKOH,3884.0,3620.00000,36,1,3532.5,3920.5,2.476999,-7.664839,10.718232
103458,2018-04-09,2020-09-13 18:30:00,3645.0,3645.50000,3645.000000,3645.500000,19206,LKOH,3884.0,3620.00000,35,2,3532.5,3920.5,3.198868,-7.014411,10.643259
103457,2018-04-09,2020-09-13 18:15:00,3640.0,3650.50000,3638.000000,3645.000000,35774,LKOH,3884.0,3620.00000,34,3,3532.5,3920.5,3.184713,-7.027165,10.644719
103456,2018-04-09,2020-09-13 18:00:00,3644.0,3656.00000,3634.000000,3640.500000,20774,LKOH,3884.0,3620.00000,33,4,3532.5,3920.5,3.057325,-7.141946,10.657877
103455,2018-04-09,2020-09-13 17:45:00,3654.5,3664.00000,3642.000000,3645.000000,73176,LKOH,3884.0,3620.00000,32,5,3532.5,3920.5,3.184713,-7.027165,10.644719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,1788.0,1789.25000,1786.020020,1788.000000,37596,LKOH,1790.0,1811.98999,5,29,1777.0,1815.0,0.619021,-1.487603,2.125280
3,2006-01-10,2020-09-13 11:15:00,1787.0,1789.98999,1785.300049,1789.000000,50773,LKOH,1790.0,1811.98999,4,30,1777.0,1815.0,0.675295,-1.432507,2.124092
2,2006-01-10,2020-09-13 11:00:00,1787.0,1791.98999,1785.000000,1787.000000,139999,LKOH,1790.0,1811.98999,3,31,1777.0,1815.0,0.562746,-1.542700,2.126469
1,2006-01-10,2020-09-13 10:45:00,1790.0,1791.00000,1782.069946,1786.119995,123624,LKOH,1790.0,1811.98999,2,32,1777.0,1815.0,0.513224,-1.591185,2.127517
0,2006-01-10,2020-09-13 10:30:00,1801.0,1815.00000,1777.000000,1790.000000,206445,LKOH,1790.0,1811.98999,1,33,1777.0,1815.0,0.731570,-1.377410,2.122905

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-01-10,2020-09-13 10:30:00,1801.0,1815.00000,1777.000000,1790.000000,206445,LKOH,1790.0,1811.98999,1,33,1777.0,1815.0,0.731570,-1.377410,2.122905
1,2006-01-10,2020-09-13 10:45:00,1790.0,1791.00000,1782.069946,1786.119995,123624,LKOH,1790.0,1811.98999,2,32,1777.0,1815.0,0.513224,-1.591185,2.127517
2,2006-01-10,2020-09-13 11:00:00,1787.0,1791.98999,1785.000000,1787.000000,139999,LKOH,1790.0,1811.98999,3,31,1777.0,1815.0,0.562746,-1.542700,2.126469
3,2006-01-10,2020-09-13 11:15:00,1787.0,1789.98999,1785.300049,1789.000000,50773,LKOH,1790.0,1811.98999,4,30,1777.0,1815.0,0.675295,-1.432507,2.124092
4,2006-01-10,2020-09-13 11:30:00,1788.0,1789.25000,1786.020020,1788.000000,37596,LKOH,1790.0,1811.98999,5,29,1777.0,1815.0,0.619021,-1.487603,2.125280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103455,2018-04-09,2020-09-13 17:45:00,3654.5,3664.00000,3642.000000,3645.000000,73176,LKOH,3884.0,3620.00000,32,5,3532.5,3920.5,3.184713,-7.027165,10.644719
103456,2018-04-09,2020-09-13 18:00:00,3644.0,3656.00000,3634.000000,3640.500000,20774,LKOH,3884.0,3620.00000,33,4,3532.5,3920.5,3.057325,-7.141946,10.657877
103457,2018-04-09,2020-09-13 18:15:00,3640.0,3650.50000,3638.000000,3645.000000,35774,LKOH,3884.0,3620.00000,34,3,3532.5,3920.5,3.184713,-7.027165,10.644719
103458,2018-04-09,2020-09-13 18:30:00,3645.0,3645.50000,3645.000000,3645.500000,19206,LKOH,3884.0,3620.00000,35,2,3532.5,3920.5,3.198868,-7.014411,10.643259
103459,2018-04-09,2020-09-13 18:45:00,3620.0,3620.00000,3620.000000,3620.000000,60503,LKOH,3884.0,3620.00000,36,1,3532.5,3920.5,2.476999,-7.664839,10.718232

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
99078,2018-04-09,2020-09-13 18:45:00,299.500000,299.500000,299.500000,299.500000,288200,ROSN,314.850006,0.0,36,0.0,281.649994,318.850006,6.337655,-6.068686,12.420705
99077,2018-04-09,2020-09-13 18:30:00,298.000000,298.549988,296.049988,298.500000,469050,ROSN,314.850006,0.0,35,0.0,281.649994,318.850006,5.982605,-6.382313,12.462316
99076,2018-04-09,2020-09-13 18:15:00,296.049988,298.200012,295.100006,298.000000,618360,ROSN,314.850006,0.0,34,0.0,281.649994,318.850006,5.805080,-6.539127,12.483226
99075,2018-04-09,2020-09-13 18:00:00,295.850006,298.700012,294.750000,296.149994,676800,ROSN,314.850006,0.0,33,0.0,281.649994,318.850006,5.148234,-7.119339,12.561206
99074,2018-04-09,2020-09-13 17:45:00,297.049988,299.350006,293.299988,296.000000,786250,ROSN,314.850006,0.0,32,0.0,281.649994,318.850006,5.094978,-7.166381,12.567572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-07-19,2020-09-13 16:45:00,203.770004,204.000000,203.500000,204.000000,33122,ROSN,204.000000,0.0,5,0.0,203.029999,220.320007,0.477763,-7.407410,8.475494
3,2006-07-19,2020-09-13 16:30:00,203.600006,204.000000,203.600006,204.000000,17669,ROSN,204.000000,0.0,4,0.0,203.029999,220.320007,0.477763,-7.407410,8.475494
2,2006-07-19,2020-09-13 16:15:00,203.949997,204.000000,203.229996,203.500000,47172,ROSN,204.000000,0.0,3,0.0,203.029999,220.320007,0.231493,-7.634353,8.496319
1,2006-07-19,2020-09-13 16:00:00,204.000000,204.979996,203.199997,203.949997,50210,ROSN,204.000000,0.0,2,0.0,203.029999,220.320007,0.453134,-7.430106,8.477572
0,2006-07-19,2020-09-13 15:45:00,220.320007,220.320007,203.029999,204.000000,35627,ROSN,204.000000,0.0,1,0.0,203.029999,220.320007,0.477763,-7.407410,8.475494

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
99078,2018-04-09,2020-09-13 18:45:00,299.500000,299.500000,299.500000,299.500000,288200,ROSN,314.850006,299.500000,36,1,281.649994,318.850006,6.337655,-6.068686,12.420705
99077,2018-04-09,2020-09-13 18:30:00,298.000000,298.549988,296.049988,298.500000,469050,ROSN,314.850006,299.500000,35,2,281.649994,318.850006,5.982605,-6.382313,12.462316
99076,2018-04-09,2020-09-13 18:15:00,296.049988,298.200012,295.100006,298.000000,618360,ROSN,314.850006,299.500000,34,3,281.649994,318.850006,5.805080,-6.539127,12.483226
99075,2018-04-09,2020-09-13 18:00:00,295.850006,298.700012,294.750000,296.149994,676800,ROSN,314.850006,299.500000,33,4,281.649994,318.850006,5.148234,-7.119339,12.561206
99074,2018-04-09,2020-09-13 17:45:00,297.049988,299.350006,293.299988,296.000000,786250,ROSN,314.850006,299.500000,32,5,281.649994,318.850006,5.094978,-7.166381,12.567572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-07-19,2020-09-13 16:45:00,203.770004,204.000000,203.500000,204.000000,33122,ROSN,204.000000,203.949997,5,8,203.029999,220.320007,0.477763,-7.407410,8.475494
3,2006-07-19,2020-09-13 16:30:00,203.600006,204.000000,203.600006,204.000000,17669,ROSN,204.000000,203.949997,4,9,203.029999,220.320007,0.477763,-7.407410,8.475494
2,2006-07-19,2020-09-13 16:15:00,203.949997,204.000000,203.229996,203.500000,47172,ROSN,204.000000,203.949997,3,10,203.029999,220.320007,0.231493,-7.634353,8.496319
1,2006-07-19,2020-09-13 16:00:00,204.000000,204.979996,203.199997,203.949997,50210,ROSN,204.000000,203.949997,2,11,203.029999,220.320007,0.453134,-7.430106,8.477572
0,2006-07-19,2020-09-13 15:45:00,220.320007,220.320007,203.029999,204.000000,35627,ROSN,204.000000,203.949997,1,12,203.029999,220.320007,0.477763,-7.407410,8.475494

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-07-19,2020-09-13 15:45:00,220.320007,220.320007,203.029999,204.000000,35627,ROSN,204.000000,203.949997,1,12,203.029999,220.320007,0.477763,-7.407410,8.475494
1,2006-07-19,2020-09-13 16:00:00,204.000000,204.979996,203.199997,203.949997,50210,ROSN,204.000000,203.949997,2,11,203.029999,220.320007,0.453134,-7.430106,8.477572
2,2006-07-19,2020-09-13 16:15:00,203.949997,204.000000,203.229996,203.500000,47172,ROSN,204.000000,203.949997,3,10,203.029999,220.320007,0.231493,-7.634353,8.496319
3,2006-07-19,2020-09-13 16:30:00,203.600006,204.000000,203.600006,204.000000,17669,ROSN,204.000000,203.949997,4,9,203.029999,220.320007,0.477763,-7.407410,8.475494
4,2006-07-19,2020-09-13 16:45:00,203.770004,204.000000,203.500000,204.000000,33122,ROSN,204.000000,203.949997,5,8,203.029999,220.320007,0.477763,-7.407410,8.475494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99074,2018-04-09,2020-09-13 17:45:00,297.049988,299.350006,293.299988,296.000000,786250,ROSN,314.850006,299.500000,32,5,281.649994,318.850006,5.094978,-7.166381,12.567572
99075,2018-04-09,2020-09-13 18:00:00,295.850006,298.700012,294.750000,296.149994,676800,ROSN,314.850006,299.500000,33,4,281.649994,318.850006,5.148234,-7.119339,12.561206
99076,2018-04-09,2020-09-13 18:15:00,296.049988,298.200012,295.100006,298.000000,618360,ROSN,314.850006,299.500000,34,3,281.649994,318.850006,5.805080,-6.539127,12.483226
99077,2018-04-09,2020-09-13 18:30:00,298.000000,298.549988,296.049988,298.500000,469050,ROSN,314.850006,299.500000,35,2,281.649994,318.850006,5.982605,-6.382313,12.462316
99078,2018-04-09,2020-09-13 18:45:00,299.500000,299.500000,299.500000,299.500000,288200,ROSN,314.850006,299.500000,36,1,281.649994,318.850006,6.337655,-6.068686,12.420705

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
102990,2018-04-09,2020-09-13 18:45:00,213.000000,213.000000,213.000000,213.000000,2349490,SBER,248.410004,0.0,36,0.0,205.0,255.300003,3.902439,-16.568744,23.615025
102989,2018-04-09,2020-09-13 18:30:00,215.710007,216.809998,215.500000,215.500000,3206170,SBER,248.410004,0.0,35,0.0,205.0,255.300003,5.121951,-15.589504,23.341069
102988,2018-04-09,2020-09-13 18:15:00,215.050003,216.100006,214.800003,215.860001,2218060,SBER,248.410004,0.0,34,0.0,205.0,255.300003,5.297561,-15.448493,23.302142
102987,2018-04-09,2020-09-13 18:00:00,212.889999,215.199997,212.889999,215.059998,1850050,SBER,248.410004,0.0,33,0.0,205.0,255.300003,4.907316,-15.761851,23.388823
102986,2018-04-09,2020-09-13 17:45:00,213.119995,214.190002,212.750000,212.889999,2057410,SBER,248.410004,0.0,32,0.0,205.0,255.300003,3.848780,-16.611830,23.627227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,39.649000,40.250000,39.620000,40.200000,2578000,SBER,38.900000,0.0,5,0.0,38.3,40.250000,4.960836,-0.124224,4.850746
3,2006-01-10,2020-09-13 11:15:00,39.550020,39.675000,39.455000,39.675000,1059000,SBER,38.900000,0.0,4,0.0,38.3,39.689988,3.590078,-0.037763,3.503436
2,2006-01-10,2020-09-13 11:00:00,39.420000,39.689988,39.350000,39.598969,1533000,SBER,38.900000,0.0,3,0.0,38.3,39.689988,3.391563,-0.229326,3.510163
1,2006-01-10,2020-09-13 10:45:00,38.900000,39.489000,38.800000,39.400000,2418000,SBER,38.900000,0.0,2,0.0,38.3,39.489000,2.872063,-0.225379,3.017766
0,2006-01-10,2020-09-13 10:30:00,38.550000,39.000000,38.300000,38.900000,1721000,SBER,38.900000,0.0,1,0.0,38.3,39.000000,1.566580,-0.256410,1.799486

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
102990,2018-04-09,2020-09-13 18:45:00,213.000000,213.000000,213.000000,213.000000,2349490,SBER,248.410004,213.00,36,1,205.0,255.300003,3.902439,-16.568744,23.615025
102989,2018-04-09,2020-09-13 18:30:00,215.710007,216.809998,215.500000,215.500000,3206170,SBER,248.410004,213.00,35,2,205.0,255.300003,5.121951,-15.589504,23.341069
102988,2018-04-09,2020-09-13 18:15:00,215.050003,216.100006,214.800003,215.860001,2218060,SBER,248.410004,213.00,34,3,205.0,255.300003,5.297561,-15.448493,23.302142
102987,2018-04-09,2020-09-13 18:00:00,212.889999,215.199997,212.889999,215.059998,1850050,SBER,248.410004,213.00,33,4,205.0,255.300003,4.907316,-15.761851,23.388823
102986,2018-04-09,2020-09-13 17:45:00,213.119995,214.190002,212.750000,212.889999,2057410,SBER,248.410004,213.00,32,5,205.0,255.300003,3.848780,-16.611830,23.627227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2006-01-10,2020-09-13 11:30:00,39.649000,40.250000,39.620000,40.200000,2578000,SBER,38.900000,40.08,5,29,38.3,40.250000,4.960836,-0.124224,4.850746
3,2006-01-10,2020-09-13 11:15:00,39.550020,39.675000,39.455000,39.675000,1059000,SBER,38.900000,40.08,4,30,38.3,39.689988,3.590078,-0.037763,3.503436
2,2006-01-10,2020-09-13 11:00:00,39.420000,39.689988,39.350000,39.598969,1533000,SBER,38.900000,40.08,3,31,38.3,39.689988,3.391563,-0.229326,3.510163
1,2006-01-10,2020-09-13 10:45:00,38.900000,39.489000,38.800000,39.400000,2418000,SBER,38.900000,40.08,2,32,38.3,39.489000,2.872063,-0.225379,3.017766
0,2006-01-10,2020-09-13 10:30:00,38.550000,39.000000,38.300000,38.900000,1721000,SBER,38.900000,40.08,1,33,38.3,39.000000,1.566580,-0.256410,1.799486

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2006-01-10,2020-09-13 10:30:00,38.550000,39.000000,38.300000,38.900000,1721000,SBER,38.900000,40.08,1,33,38.3,39.000000,1.566580,-0.256410,1.799486
1,2006-01-10,2020-09-13 10:45:00,38.900000,39.489000,38.800000,39.400000,2418000,SBER,38.900000,40.08,2,32,38.3,39.489000,2.872063,-0.225379,3.017766
2,2006-01-10,2020-09-13 11:00:00,39.420000,39.689988,39.350000,39.598969,1533000,SBER,38.900000,40.08,3,31,38.3,39.689988,3.391563,-0.229326,3.510163
3,2006-01-10,2020-09-13 11:15:00,39.550020,39.675000,39.455000,39.675000,1059000,SBER,38.900000,40.08,4,30,38.3,39.689988,3.590078,-0.037763,3.503436
4,2006-01-10,2020-09-13 11:30:00,39.649000,40.250000,39.620000,40.200000,2578000,SBER,38.900000,40.08,5,29,38.3,40.250000,4.960836,-0.124224,4.850746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102986,2018-04-09,2020-09-13 17:45:00,213.119995,214.190002,212.750000,212.889999,2057410,SBER,248.410004,213.00,32,5,205.0,255.300003,3.848780,-16.611830,23.627227
102987,2018-04-09,2020-09-13 18:00:00,212.889999,215.199997,212.889999,215.059998,1850050,SBER,248.410004,213.00,33,4,205.0,255.300003,4.907316,-15.761851,23.388823
102988,2018-04-09,2020-09-13 18:15:00,215.050003,216.100006,214.800003,215.860001,2218060,SBER,248.410004,213.00,34,3,205.0,255.300003,5.297561,-15.448493,23.302142
102989,2018-04-09,2020-09-13 18:30:00,215.710007,216.809998,215.500000,215.500000,3206170,SBER,248.410004,213.00,35,2,205.0,255.300003,5.121951,-15.589504,23.341069
102990,2018-04-09,2020-09-13 18:45:00,213.000000,213.000000,213.000000,213.000000,2349490,SBER,248.410004,213.00,36,1,205.0,255.300003,3.902439,-16.568744,23.615025

C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
92280,2018-04-09,2020-09-13 18:45:00,0.05040,0.05040,0.05040,0.05040,605450,VTBR,0.05325,0.0,36,0.0,0.0485,0.05525,3.917524,-8.778281,13.392855
92279,2018-04-09,2020-09-13 18:30:00,0.05064,0.05084,0.05048,0.05068,833140,VTBR,0.05325,0.0,35,0.0,0.0485,0.05525,4.494843,-8.271493,13.318861
92278,2018-04-09,2020-09-13 18:15:00,0.05072,0.05091,0.05063,0.05064,369170,VTBR,0.05325,0.0,34,0.0,0.0485,0.05525,4.412365,-8.343895,13.329382
92277,2018-04-09,2020-09-13 18:00:00,0.05084,0.05085,0.05060,0.05072,295120,VTBR,0.05325,0.0,33,0.0,0.0485,0.05525,4.577315,-8.199097,13.308358
92276,2018-04-09,2020-09-13 17:45:00,0.05062,0.05090,0.05047,0.05085,355090,VTBR,0.05325,0.0,32,0.0,0.0485,0.05525,4.845359,-7.963801,13.274334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2007-05-28,2020-09-13 11:30:00,0.14600,0.14600,0.14490,0.14500,380210,VTBR,0.14960,0.0,5,0.0,0.1440,0.17490,0.694446,-17.095483,21.310346
3,2007-05-28,2020-09-13 11:15:00,0.14630,0.14680,0.14500,0.14600,77645,VTBR,0.14960,0.0,4,0.0,0.1440,0.17490,1.388892,-16.523727,21.164385
2,2007-05-28,2020-09-13 11:00:00,0.14800,0.14800,0.14500,0.14640,340880,VTBR,0.14960,0.0,3,0.0,0.1440,0.17490,1.666674,-16.295020,21.106557
1,2007-05-28,2020-09-13 10:45:00,0.14960,0.14970,0.14700,0.14840,105126,VTBR,0.14960,0.0,2,0.0,0.1440,0.17490,3.055556,-15.151516,20.822104
0,2007-05-28,2020-09-13 10:30:00,0.14490,0.17490,0.14400,0.14960,1132396,VTBR,0.14960,0.0,1,0.0,0.1440,0.17490,3.888893,-14.465407,20.655081

C:\Users\afecn\anaconda3.1\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\afecn\anaconda3.1\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
92280,2018-04-09,2020-09-13 18:45:00,0.05040,0.05040,0.05040,0.05040,605450,VTBR,0.05325,0.0504,36,1,0.0485,0.05525,3.917524,-8.778281,13.392855
92279,2018-04-09,2020-09-13 18:30:00,0.05064,0.05084,0.05048,0.05068,833140,VTBR,0.05325,0.0504,35,2,0.0485,0.05525,4.494843,-8.271493,13.318861
92278,2018-04-09,2020-09-13 18:15:00,0.05072,0.05091,0.05063,0.05064,369170,VTBR,0.05325,0.0504,34,3,0.0485,0.05525,4.412365,-8.343895,13.329382
92277,2018-04-09,2020-09-13 18:00:00,0.05084,0.05085,0.05060,0.05072,295120,VTBR,0.05325,0.0504,33,4,0.0485,0.05525,4.577315,-8.199097,13.308358
92276,2018-04-09,2020-09-13 17:45:00,0.05062,0.05090,0.05047,0.05085,355090,VTBR,0.05325,0.0504,32,5,0.0485,0.05525,4.845359,-7.963801,13.274334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2007-05-28,2020-09-13 11:30:00,0.14600,0.14600,0.14490,0.14500,380210,VTBR,0.14960,0.1416,5,25,0.1440,0.17490,0.694446,-17.095483,21.310346
3,2007-05-28,2020-09-13 11:15:00,0.14630,0.14680,0.14500,0.14600,77645,VTBR,0.14960,0.1416,4,26,0.1440,0.17490,1.388892,-16.523727,21.164385
2,2007-05-28,2020-09-13 11:00:00,0.14800,0.14800,0.14500,0.14640,340880,VTBR,0.14960,0.1416,3,27,0.1440,0.17490,1.666674,-16.295020,21.106557
1,2007-05-28,2020-09-13 10:45:00,0.14960,0.14970,0.14700,0.14840,105126,VTBR,0.14960,0.1416,2,28,0.1440,0.17490,3.055556,-15.151516,20.822104
0,2007-05-28,2020-09-13 10:30:00,0.14490,0.17490,0.14400,0.14960,1132396,VTBR,0.14960,0.1416,1,29,0.1440,0.17490,3.888893,-14.465407,20.655081

,Date,Time,Open,High,Low,Close,Volume,Symbol,Cl_1,Cl_Last,Long,Short,min_day,max_day,Cl/min_day,Cl/max_day,max_day-min_day
0,2007-05-28,2020-09-13 10:30:00,0.14490,0.17490,0.14400,0.14960,1132396,VTBR,0.14960,0.1416,1,29,0.1440,0.17490,3.888893,-14.465407,20.655081
1,2007-05-28,2020-09-13 10:45:00,0.14960,0.14970,0.14700,0.14840,105126,VTBR,0.14960,0.1416,2,28,0.1440,0.17490,3.055556,-15.151516,20.822104
2,2007-05-28,2020-09-13 11:00:00,0.14800,0.14800,0.14500,0.14640,340880,VTBR,0.14960,0.1416,3,27,0.1440,0.17490,1.666674,-16.295020,21.106557
3,2007-05-28,2020-09-13 11:15:00,0.14630,0.14680,0.14500,0.14600,77645,VTBR,0.14960,0.1416,4,26,0.1440,0.17490,1.388892,-16.523727,21.164385
4,2007-05-28,2020-09-13 11:30:00,0.14600,0.14600,0.14490,0.14500,380210,VTBR,0.14960,0.1416,5,25,0.1440,0.17490,0.694446,-17.095483,21.310346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92276,2018-04-09,2020-09-13 17:45:00,0.05062,0.05090,0.05047,0.05085,355090,VTBR,0.05325,0.0504,32,5,0.0485,0.05525,4.845359,-7.963801,13.274334
92277,2018-04-09,2020-09-13 18:00:00,0.05084,0.05085,0.05060,0.05072,295120,VTBR,0.05325,0.0504,33,4,0.0485,0.05525,4.577315,-8.199097,13.308358
92278,2018-04-09,2020-09-13 18:15:00,0.05072,0.05091,0.05063,0.05064,369170,VTBR,0.05325,0.0504,34,3,0.0485,0.05525,4.412365,-8.343895,13.329382
92279,2018-04-09,2020-09-13 18:30:00,0.05064,0.05084,0.05048,0.05068,833140,VTBR,0.05325,0.0504,35,2,0.0485,0.05525,4.494843,-8.271493,13.318861
92280,2018-04-09,2020-09-13 18:45:00,0.05040,0.05040,0.05040,0.05040,605450,VTBR,0.05325,0.0504,36,1,0.0485,0.05525,3.917524,-8.778281,13.392855

Wall time: 7min

## add to block 4 some TA

In [20]:
#save in file
df_all.to_csv("4block.csv")

In [24]:
#качнули
#TA = pd.read_csv     ('df_f_all.csv', parse_dates=['Date', 'Time'])
#block_4 = pd.read_csv('4block.csv',   parse_dates=['Date', 'Time'])
TA = pd.read_csv('E:/Host/Data/Database/10min/TA.csv', parse_dates=['Date'])

In [25]:
TA

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Symbol,ADX_5,ADX_14,...,STOCHRSI_fastd,HT_PHASOR_inphase,HT_PHASOR_quadrature,HT_SINE_sine,HT_SINE_leadsine,BBANDS_upperband,BBANDS_middleband,BBANDS_lowerband,MAMA_mama,MAMA_fama
0,0,2006-01-23 10:30:00,239.000000,239.000000,221.000000,221.500000,9.992662e+07,GAZP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2006-01-23 10:40:00,221.500000,222.890000,219.330000,220.500000,1.037755e+08,GAZP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2006-01-23 10:50:00,220.500000,221.440000,220.220000,220.500000,1.010915e+08,GAZP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2006-01-23 11:00:00,220.500000,220.500000,219.710000,220.490000,2.572082e+07,GAZP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2006-01-23 11:10:00,220.480000,220.940000,219.860000,220.000000,2.369642e+07,GAZP,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.717566,0.271818,-0.173929,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119309,1119309,2020-09-18 11:00:00,0.035580,0.035665,0.035565,0.035570,2.255754e+07,VTBR,51.987905,24.977834,...,25.934617,-0.000056,-0.000089,-0.292404,0.469442,0.148097,0.039359,-0.069379,0.093636,0.260006
1119310,1119310,2020-09-18 11:10:00,0.035570,0.035600,0.035530,0.035565,1.062869e+07,VTBR,47.562326,25.513042,...,39.390131,-0.000083,-0.000029,-0.090055,0.640555,0.068180,0.022494,-0.023192,0.102322,0.269807
1119311,1119311,2020-09-18 11:20:00,0.035560,0.035565,0.035505,0.035555,7.170856e+06,VTBR,46.062600,26.323211,...,23.244963,-0.000080,0.000001,0.012430,0.715841,0.079449,0.033751,-0.011948,0.123953,0.293657
1119312,1119312,2020-09-18 11:30:00,0.035545,0.035555,0.035520,0.035535,3.007063e+06,VTBR,44.862819,27.075512,...,13.455514,-0.000076,0.000040,0.081994,0.762704,0.159263,0.073167,-0.012928,0.171290,0.345635
1119313,1119313,2020-09-18 11:40:00,0.035540,0.035550,0.035530,0.035545,9.288704e+05,VTBR,43.902994,27.774076,...,19.477007,-0.000045,0.000063,0.233801,0.852831,0.097377,0.025320,-0.046737,0.135953,0.312868

In [27]:
pd.options.display.max_rows=100
df_all['Time']

0         10:30:00
1         10:40:00
2         10:50:00
3         11:00:00
4         11:10:00
            ...
173807    11:00:00
173808    11:10:00
173809    11:20:00
173810    11:30:00
173811    11:40:00
Name: Time, Length: 1119314, dtype: object

# из ТА и df_all(df4) делаем TA_block4

In [33]:
#мерджим TA and inday
display(df_all.shape)
display(TA.shape)
df_all.reset_index(drop=True, inplace=True) #переиндекс сделали
TA['Time']     = TA['Date'].dt.time # если тайма нет
# df_all['Time'] = df_all['Time'].dt.time #чтобы можно былос арвнивать
TA['Date'] = TA['Date'].dt.date #создали новый дайте
TA['Date'] = pd.to_datetime(TA['Date']) #сделали его сравнимым
TA_block4 = pd.merge(df_all, TA, how='inner', on=['Date', 'Symbol', 'Time'], suffixes=('', '_2'))
display(TA_block4.shape)
TA_block4.drop_duplicates(['Date', 'Symbol', 'Time'])
display(TA_block4.shape)
TA_block4.dropna(inplace=True)
display(TA_block4.shape)

(1119314, 17)

(1119314, 167)

(1119314, 181)

(1119314, 181)

(1118342, 181)

In [34]:
TA_block4

,Date,Open,High,Low,Close,Volume,Symbol,Time,Cl_1,Cl_Last,...,STOCHRSI_fastd,HT_PHASOR_inphase,HT_PHASOR_quadrature,HT_SINE_sine,HT_SINE_leadsine,BBANDS_upperband,BBANDS_middleband,BBANDS_lowerband,MAMA_mama,MAMA_fama
162,2006-01-26,227.790000,227.900000,227.540000,227.900000,7716921.90,GAZP,12:30:00,227.40000,224.470000,...,65.573579,-0.111926,0.721003,-0.043558,0.675635,0.066759,-0.072839,-0.212437,0.024321,0.155609
163,2006-01-26,227.700000,228.260000,227.700000,227.950000,35936317.50,GAZP,12:40:00,227.40000,224.470000,...,95.232037,-0.075572,0.296773,0.090209,0.768011,0.068880,-0.059662,-0.188204,0.001190,0.100528
164,2006-01-26,228.190000,228.260000,228.000000,228.100000,47009585.20,GAZP,12:50:00,227.40000,224.470000,...,100.000000,-0.016424,0.222808,0.266097,0.869772,0.056840,-0.106971,-0.270781,-0.061343,0.032300
165,2006-01-26,228.000000,228.300000,228.000000,228.290000,34046942.31,GAZP,13:00:00,227.40000,224.470000,...,100.000000,-0.036928,-0.024707,0.429455,0.942251,0.027601,-0.124403,-0.276407,-0.072259,-0.056280
166,2006-01-26,228.290000,228.290000,227.700000,227.700000,32907431.70,GAZP,13:10:00,227.40000,224.470000,...,66.666667,-0.099843,0.410217,0.553489,0.980294,0.300333,0.126482,-0.047369,0.177333,0.202053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119309,2020-09-18,0.035580,0.035665,0.035565,0.035570,22557537.60,VTBR,11:00:00,0.03576,0.035545,...,25.934617,-0.000056,-0.000089,-0.292404,0.469442,0.148097,0.039359,-0.069379,0.093636,0.260006
1119310,2020-09-18,0.035570,0.035600,0.035530,0.035565,10628688.00,VTBR,11:10:00,0.03576,0.035545,...,39.390131,-0.000083,-0.000029,-0.090055,0.640555,0.068180,0.022494,-0.023192,0.102322,0.269807
1119311,2020-09-18,0.035560,0.035565,0.035505,0.035555,7170855.70,VTBR,11:20:00,0.03576,0.035545,...,23.244963,-0.000080,0.000001,0.012430,0.715841,0.079449,0.033751,-0.011948,0.123953,0.293657
1119312,2020-09-18,0.035545,0.035555,0.035520,0.035535,3007062.85,VTBR,11:30:00,0.03576,0.035545,...,13.455514,-0.000076,0.000040,0.081994,0.762704,0.159263,0.073167,-0.012928,0.171290,0.345635
1119313,2020-09-18,0.035540,0.035550,0.035530,0.035545,928870.40,VTBR,11:40:00,0.03576,0.035545,...,19.477007,-0.000045,0.000063,0.233801,0.852831,0.097377,0.025320,-0.046737,0.135953,0.312868

In [35]:
list(TA_block4)
TA_block4.drop(['Unnamed: 0', 'Open_2', 'High_2', 'Low_2', 'Close_2', 'Volume_2'], axis=1, inplace=True)
list(TA_block4)

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Volume',
 'Symbol',
 'Time',
 'Cl_1',
 'Cl_Last',
 'Long',
 'Short',
 'min_day',
 'max_day',
 'Cl/min_day',
 'Cl/max_day',
 'max_day-min_day',
 'ADX_5',
 'ADX_14',
 'ADX_28',
 'ADXR_5',
 'ADXR_14',
 'ADXR_28',
 'APO_5',
 'APO_14',
 'APO_28',
 'AROONOSC_5',
 'AROONOSC_14',
 'AROONOSC_28',
 'BOP_5',
 'BOP_14',
 'BOP_28',
 'CCI_5',
 'CCI_14',
 'CCI_28',
 'CMO_5',
 'CMO_14',
 'CMO_28',
 'DX_5',
 'DX_14',
 'DX_28',
 'MFI_5',
 'MFI_14',
 'MFI_28',
 'MINUS_DI_5',
 'MINUS_DI_14',
 'MINUS_DI_28',
 'MINUS_DM_5',
 'MINUS_DM_14',
 'MINUS_DM_28',
 'MOM_5',
 'MOM_14',
 'MOM_28',
 'PLUS_DI_5',
 'PLUS_DI_14',
 'PLUS_DI_28',
 'PLUS_DM_5',
 'PLUS_DM_14',
 'PLUS_DM_28',
 'PPO_5',
 'PPO_14',
 'PPO_28',
 'ROC_5',
 'ROC_14',
 'ROC_28',
 'ROCP_5',
 'ROCP_14',
 'ROCP_28',
 'ROCR_5',
 'ROCR_14',
 'ROCR_28',
 'ROCR100_5',
 'ROCR100_14',
 'ROCR100_28',
 'RSI_5',
 'RSI_14',
 'RSI_28',
 'TRIX_5',
 'TRIX_14',
 'TRIX_28',
 'ULTOSC_5',
 'ULTOSC_14',
 'ULTOSC_28',
 'WILLR_5',
 'WILLR_14',
 'WILLR_28',
 'HT_DCPERIOD_5',
 'HT_DCPERIOD_14',
 'HT_DCPERIOD_28',
 'HT_DCPHASE_5',
 'HT_DCPHASE_14',
 'HT_DCPHASE_28',
 'HT_TRENDMODE_5',
 'HT_TRENDMODE_14',
 'HT_TRENDMODE_28',
 'DEMA_5',
 'DEMA_14',
 'DEMA_28',
 'EMA_5',
 'EMA_14',
 'EMA_28',
 'HT_TRENDLINE_5',
 'HT_TRENDLINE_14',
 'HT_TRENDLINE_28',
 'KAMA_5',
 'KAMA_14',
 'KAMA_28',
 'MA_5',
 'MA_14',
 'MA_28',
 'MIDPOINT_5',
 'MIDPOINT_14',
 'MIDPOINT_28',
 'MIDPRICE_5',
 'MIDPRICE_14',
 'MIDPRICE_28',
 'SMA_5',
 'SMA_14',
 'SMA_28',
 'T3_5',
 'T3_14',
 'T3_28',
 'TEMA_5',
 'TEMA_14',
 'TEMA_28',
 'TRIMA_5',
 'TRIMA_14',
 'TRIMA_28',
 'WMA_5',
 'WMA_14',
 'WMA_28',
 'ATR_5',
 'ATR_14',
 'ATR_28',
 'NATR_5',
 'NATR_14',
 'NATR_28',
 'TRANGE_5',
 'TRANGE_14',
 'TRANGE_28',
 'AD_5',
 'AD_14',
 'AD_28',
 'ADOSC_5',
 'ADOSC_14',
 'ADOSC_28',
 'OBV_5',
 'OBV_14',
 'OBV_28',
 'AROON_aroondown',
 'AROON_aroonup',
 'MACD_macd',
 'MACD_macdsignal',
 'MACD_macdhist',
 'MACDEXT_macd',
 'MACDEXT_macdsignal',
 'MACDEXT_macdhist',
 'MACDFIX_macd',
 'MACDFIX_macdsignal',
 'MACDFIX_macdhist',
 'STOCH_slowk',
 'STOCH_slowd',
 'STOCHF_fastk',
 'STOCHF_fastd',
 'STOCHRSI_fastk',
 'STOCHRSI_fastd',
 'HT_PHASOR_inphase',
 'HT_PHASOR_quadrature',
 'HT_SINE_sine',
 'HT_SINE_leadsine',
 'BBANDS_upperband',
 'BBANDS_middleband',
 'BBANDS_lowerband',
 'MAMA_mama',
 'MAMA_fama']

In [36]:
TA_block4.to_csv('E:/Host/Data/Database/10min/TA_block4.csv')

In [80]:
#corection with TA
#пока stop
# TA[TIME] = np.where(TA.Time == TIME, 1, 0) #СОЗДАЛИ СТОЛБЕЦ ГДЕ 1 ЕСЛИ ВРЕМЯ СОВПАЛО С TIME
# TA_for_merg = TA[TA[TIME] == 1]
# TA_for_merg

In [183]:
merg_all

,Date,Close,Close10:50:00,Close11:50:00,Close12:50:00,Close13:50:00,Close14:50:00,Close15:50:00,Close16:50:00,Closelast_bar,...,Proft1000,Proft1300,Proft1830,Profi_GEP,Pro_Morni,Min10,Min1000,Min10_1300,Min10_1000,Time
0,2009-01-11,0.03330,0.034600,0.035100,0.034800,0.034600,0.034100,0.034100,0.034000,0.034000,...,1.176471,2.058824,-0.294118,1.176471,0.872093,NaN,2.102102,NaN,NaN,16:50:00
1,2009-01-12,0.03440,0.034400,0.034500,0.034700,0.034300,0.034300,0.034100,0.034100,0.033900,...,-1.466276,-4.105572,-2.932551,-0.884956,-2.678571,0.294118,-0.872093,-2.011494,2.402402,16:50:00
2,2009-01-13,0.03360,0.032700,0.033000,0.032700,0.032800,0.032800,0.032900,0.032900,0.033100,...,1.519757,1.215805,-6.382979,0.906344,-0.299401,-2.949853,-2.083333,-5.187320,-4.360465,16:50:00
3,2009-01-14,0.03340,0.033400,0.033600,0.033300,0.033100,0.032900,0.033000,0.031400,0.030800,...,-1.910828,-0.955414,-2.229299,0.000000,0.974026,-5.135952,-5.988024,-3.975535,-6.547619,16:50:00
4,2009-01-15,0.03080,0.031100,0.030500,0.031100,0.031200,0.031600,0.030800,0.030900,0.030700,...,0.970874,0.647249,-1.294498,1.628664,-0.320513,0.324675,0.324675,-7.207207,-7.485030,16:50:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,2020-09-11,0.03524,0.035210,0.035265,0.035270,0.035325,0.035325,0.035230,0.035335,0.035420,...,0.551861,1.004670,1.315976,0.310559,0.450324,0.526316,0.269580,1.217416,0.813124,16:50:00
2921,2020-09-14,0.03553,0.035740,0.035735,0.035690,0.035675,0.035580,0.035500,0.035585,0.035800,...,0.688492,1.067866,1.686104,0.083799,0.376779,0.465839,0.154799,0.893110,0.979001,16:50:00
2922,2020-09-15,0.03583,0.035710,0.035825,0.035965,0.036070,0.036120,0.036080,0.036135,0.036185,...,0.290577,-0.511969,-0.940916,0.151997,-0.800221,0.935754,0.851242,1.246848,1.702786,16:50:00
2923,2020-09-16,0.03624,0.036125,0.036070,0.035950,0.035910,0.035825,0.035755,0.035800,0.035795,...,-0.530726,-1.145251,-0.265363,-0.516832,-0.617804,-1.063977,-1.214128,-0.458779,-0.083729,16:50:00
2924,2020-09-17,0.03561,0.035515,0.035460,0.035390,0.035510,0.035495,0.035630,0.035520,0.035705,...,NaN,NaN,NaN,NaN,NaN,-0.768264,-0.252738,-1.196106,-1.986755,16:50:00

In [109]:
df_merg_1 = pd.merge(data_close, merg_all, how='inner', on=['Date'])
df4_for_merg = df4[df4['Time'] == TIME]
df_merg_2 = pd.merge(df_merg_1, df4_for_merg, how='inner', on=['Date'])

In [130]:
display(merg_all.shape)
display(data_close.shape)
#display(TA.shape)
display(df4.shape)
print(100*'**')
display(df_merg_1.shape)
df_merg_2.drop_duplicates('Date')
display(df_merg_1.shape)
display(df_merg_2.shape)
df_merg_2.drop_duplicates('Date', inplace=True)
display(df_merg_2.shape)
df_merg_2.dropna(inplace=True)
display(df_merg_2.shape)

(3015, 10)

(3045, 22)

(103196, 13)

********************************************************************************************************************************************************************************************************

(3022, 31)

(3022, 31)

(3038, 43)

(3014, 43)

(3014, 43)